.nft-msg-list {
    .nft-msg-item {
        padding: 15px 0;
        border-bottom: 1px solid var(--divid-color);

        .key {
            color: #606266;
        }

        .value {
            .avatar {
                width: 30px;
                height: 30px;
                margin-right: 12px;
            }

            .icon {
                transform: rotate(-90deg);
                width: 12px;
                height: 12px;
            }
        }
    }
}

.operate {
    width: 100%;
    margin-top: 30px;
    height: 50px;
}