@import '@/assets/styles/var.scss';

.attachement-list {
    .attachment-item {
        border-radius: 8px;
        overflow: hidden;
        position: relative;
        cursor: pointer;

        &.image {
            width: calc((100% - 24px) / 3);
            display: inline-block;
            vertical-align: middle;
            height: 0;
            padding-bottom: calc((100% - 24px) / 3);
            margin-right: 12px;
            margin-bottom: 12px;
            position: relative;

            &:nth-child(3n) {
                margin-right: 0;
            }

            :deep(.image) {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;

                img {
                    object-fit: cover;
                }

            }
        }

        &.single-image {
            display: inline-block;
            width: auto;
            margin-right: 0;
            height: auto;
            padding-bottom: 0;
            margin-bottom: 0;

            :deep(.image) {
                position: static;
                border-radius: 8px;
                max-width: 100%;
                max-height: 300px;

                .el-skeleton {
                    width: 300px;
                    height: 150px;
                    position: relative;

                    .el-skeleton__image {}
                }
            }
        }

        &.nft {
            overflow: visible;
            padding-bottom: 10px;
        }

        .remove {
            position: absolute;
            right: 0;
            top: 0;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: rgb(48, 49, 51, 0.3);
            z-index: 2;
            margin-top: 6px;
            margin-right: 6px;
            cursor: pointer;

            &:hover {
                background: rgb(48, 49, 51, 1);
            }

            :deep(.icon) {
                width: 16px;
                height: 16px;

                use {
                    fill: #fff;
                }
            }
        }
    }
}



.video-list {
    video {
        display: block;
        width: 100%;
        height: 257px;
        margin: 0;
        padding: 0;
        object-fit: contain;
        background: #000;
        border-radius: 8px;
    }
}

.audio-list {
    audio {
        display: block;
        width: 100%;
        height: 100px;
        margin: 0;
        padding: 0;
    }
}

.audio-warp {
    border: var(--standard-border-width) solid var(--themeTextColor);
    border-radius: 8px;
    padding: 12px;

    .audio-icon {
        width: 60px;
        height: 60px;
        border: 1px solid #BFC2CC;
        border-radius: 6px;
        margin-right: 12px;

        img {
            width: 50px;
            height: 50px;
        }

    }

    .cont {
        height: 60px;
        margin-right: 18px;
    }



    .name {
        line-height: 30px;
        @extend %text-ellipsis;
    }

    .size {
        font-size: 12px;
        color: #82858C;
        line-height: 24px;
    }

    .control {

        .play {
            border: var(--standard-border-width) solid #909399;
            border-radius: 50%;
            box-sizing: content-box;

            .icon {
                width: 15px;
                height: 15px;

                :deep(use) {
                    fill: #909399;
                }
            }
        }

        .icon-warp {
            width: 30px;
            height: 30px;
            margin-right: 18px;

            :deep(use) {
                fill: #909399;
            }

            &:last-child {
                margin-right: 0;
                ;
            }


            &.active,
            &:hover {
                border-color: var(--themeTextColor);

                :deep(use) {
                    fill: var(--themeTextColor)
                }
            }
        }

    }

}

.nft-card {
    width: 277px;
}

.nft-warp {
    padding: 12px;

    box-sizing: border-box;

    .msg {
        width: 100%;
    }

    .cover-warp {
        width: 78px;
        height: 78px;
        margin-right: 12px;
        border: var(--standard-border-width)solid var(--themeBtnTextColor);
        border-radius: 8px;
        position: relative;

        :deep(.cover) {
            border-radius: 8px;
        }

        .el-skeleton__item {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }
    }

    .name {
        font-size: 16px;
        line-height: 24px;
        @include text-many-ellipsis(2);

        .el-skeleton__item {
            &:first-child {
                width: 100%;
            }
        }
    }

    .token-index {
        font-size: 12px;
        color: #82858C;
        margin-top: 4px;

        .el-skeleton__item {
            height: 12px;
            width: 50px;
        }
    }
}