header {
    position: sticky;
    left: 0;
    top: 0;
    height: var(--header-height);
    background: var(--themeBgSecondColor);
    padding: 0 18px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    --tw-bg-opacity: 1;


    .connect-wallet {
        border-radius: 8px;
        padding: 8px 15px;
        cursor: pointer;
    }

    .buzz-menu {
        .buzz-menu-item {
            padding: 10px;
            position: relative;
            white-space: nowrap;
            border-radius: 12px;
            background: var(--themeBgSecondColor);

            .icon-warp {
                border: var(--standard-border-width) solid var(--themeBtnTextColor);
                border-radius: calc(100% / 2.5);
                width: 24px;
                height: 24px;
                box-shadow: 3px 3px var(--themeBtnTextColor);
                margin-right: 10px;

                .icon {
                    width: 16px;
                    height: 16px;
                }
            }

            &.router-link-active {
                background: var(--el-color-primary);
            }
        }
    }
}

.buzz-warp {
    padding-top: 12px;
    box-sizing: border-box;

    .buzz-container {
        position: relative;
        width: 95%;
        max-width: var(--sm-conetnt-width);
        margin: 0 auto;

    }

    .container {
        position: relative;
    }

    .fast-btn {
        position: fixed;
        bottom: 10%;
        right: 50%;
        margin-right: -396PX;
        z-index: 11;




        a {
            width: 52PX;
            display: block;
            padding: 14PX;
            margin-bottom: 20PX;
            cursor: pointer;


            .icon {
                width: 20PX;
                height: 20PX;

                :deep(use) {
                    fill: var(--themeBtnTextColor);
                }
            }

            &.top {
                text-align: center;
                padding: 0;

                .icon {
                    width: 28PX;
                    height: 28PX;
                    margin: 0 auto;

                    :deep(use) {
                        fill: var(--themeTextColor);
                    }
                }
            }
        }
    }


}

@media only screen and (max-width: 1024PX) {
    .buzz-warp .fast-btn {
        right: 5%;
        bottom: 5%;
    }
}