.buzz-item {
    background: var(--themeBgSecondColor);
    box-sizing: border-box;
    padding: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    cursor: pointer;

    .forward-head {
        display: flex;
        align-items: center;
        margin-bottom: 18px;
        margin-left: 30px;

        svg {
            width: 20px;
            height: 20px;
            fill: #909399;
        }

        .head {
            width: 24px;
            height: 24px;
            flex-shrink: 0;
            margin: 0 4px;
        }

        .name {
            color: #909399;
            font-size: 12px;
        }
    }

    .header {
        display: flex;
        justify-content: space-between;

        .user-info {
            display: flex;
            flex-grow: 1;

            .head,
            .el-skeleton__item {
                width: 48px;
                height: 48px;
                flex-shrink: 0;
                margin-right: 18px;

                .avatar {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }

            .info {
                flex-grow: 1;
                overflow: hidden;

                .name {
                    font-size: 16px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    .el-skeleton__item {
                        height: 16px;
                        width: 100px;

                    }
                }

                .desc {

                    color: #909399;
                    font-size: 12px;
                    margin-top: 8px;

                    .time {
                        padding-left: 8px;
                    }

                    .el-skeleton__item {
                        height: 12px;
                        width: 200px;
                    }
                }
            }
        }

        .operate {

            .follow,
            .el-skeleton__item {
                cursor: pointer;
                font-size: 12px;
                padding: 6px 12px;
                border-radius: 20px;
            }

            .follow {
                &.disabled {
                    cursor: not-allowed;
                }
            }
        }
    }

    .content {
        padding-left: calc(48px + 18px);
        margin-top: 20px;

        .el-skeleton__item {
            display: block;
            height: 14px;
            margin-bottom: 5px;

            &:last-child {
                margin-bottom: 0;
            }

            &:nth-child(1) {
                width: 30%;
            }

            &:nth-child(2) {
                width: 40%;
            }

            &:nth-child(3) {
                width: 60%;
            }

            &:nth-child(4) {
                width: 80%;
            }
        }

        .text {
            font-size: 16px;
            line-height: 30px;
            white-space: pre-line;
        }

        .content-item {
            margin-top: 20px;

            &:first-child {
                margin-top: 0;
            }
        }

        .attachment-box {
            margin-bottom: 10px;
        }


        .tags {
            margin-top: 18px;

            a {
                background: rgba(85, 134, 187, 0.1);
                color: rgb(85, 134, 187);
                padding: 5px 12px;
                font-size: 12px;
                border-radius: 15px;
                cursor: pointer;

                .icon {
                    width: 14px;
                    height: 14px;
                    margin-right: 4px;

                    :deep(use) {
                        fill: #5586BB;

                    }
                }

                &:hover {
                    background: rgba(85, 134, 187, 0.2);
                }
            }

            .el-skeleton__item {
                border-radius: 15px;
                width: 70px;
                height: 30px;
            }
        }
    }




}

.popup-list {
    padding: 0 16px;

    .item {
        text-align: center;
        color: #fff;
        font-size: 14px;
        padding: 16px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.03);

        &:last-child {
            border: 0;
        }

        &:active {
            opacity: 0.8;
        }
    }
}