@import '@/assets/styles/var.scss';

.text {
    font-size: 16px;
    line-height: 30px;
    white-space: pre-line;

    &.quote {
        @include text-many-ellipsis(3);
    }
}

.attachment-box {
    margin-bottom: 10px;
}