@import '@/assets/styles/var.scss';

.meta-node-card {}

.el-skeleton {
    width: 100%;
    padding: 18px;
    box-sizing: border-box;
}

.meta-node {
    padding: 18px;

    .image {
        width: 80px;
        height: 80px;
        margin-right: 10px;
        border-radius: 6px;
        overflow: hidden;

        :deep(img) {
            height: 100%;
            object-fit: cover;
        }
    }

    .cont {
        flex: 1;
        min-width: 0;

        .title {
            font-size: 18px;
            @extend %text-ellipsis;
        }

        .content {
            font-size: 12px;
            margin-top: 10px;
            @include text-many-ellipsis(3);
            line-height: 16px;
            color: var(--faded-border-color);
        }


    }

    .right {
        transform: rotate(-90deg);
        width: 12px;
        height: 12px;
        align-self: center;
        margin-left: 12px;
    }
}