.buzz-list {
    :deep(.vue-recycle-scroller__item-view) {
        .buzz-item-warp {
            padding-bottom: 6PX;
        }

        &:last-child {
            .buzz-item-warp {
                padding-bottom: 0;
            }
        }
    }

}

.el-skeleton {
    .buzz-list {
        .buzz-item-warp {
            padding-bottom: 6PX;
        }

        &:last-child {
            padding-bottom: 0;
        }

    }
}

.repost-list {
    :deep(.el-loading-mask) {
        box-shadow: 3px 3px 0px var(--el-mask-color);
    }

    .repost-list-warp {
        box-sizing: border-box;

        .respost-item {
            padding: 15px 0;
            text-align: center;
            cursor: pointer;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.operate {
    margin-top: 18px;

    a {
        font-size: 18px;
        font-weight: 500;
        padding: 12px 32px;
        cursor: pointer;

        &.faded {
            cursor: not-allowed;
        }
    }
}