@import '@/assets/styles/var.scss';

.text {
    font-size: 15PX;
    line-height: 20PX;
    white-space: pre-line;
    word-break: break-word;

    &.quote {
        @include text-many-ellipsis(3);
    }
}

.attachment-box {
    margin-bottom: 10px;
}