.tips {
    .icon {
        width: 24px;
        height: 24px;
        margin-right: 5px;
    }
}

.el-date-editor {
    width: 100%;
    display: block;
}

.my {
    margin-top: 30px;
    text-align: center;

    a {
        color: var(--color-hover);
        cursor: pointer;
    }
}