.recommend-section {
    background: var(--themeBgSecondColor);
    padding: 18px;
    border-radius: 12px;
    margin-bottom: 6px;


    .title {
        font-size: 18px;
        align-items: center;
        justify-content: space-between;
        .switch-wrap{
            display: flex;
            align-items: center;
            font-size: 14px;
            span{
                margin-right: 5px;
                color: var(--color-switch);
            }
        }
    }

    .cont {
        margin-top: 18px;
    }
}