.recommend {
    .recommend-section {
        background: #fff;
        padding: 18px;
        border-radius: 12px;
        margin-bottom: 6px;

        &:last-child {
            margin-bottom: 0;
        }

        .title {
            font-size: 18px;
        }

        .cont {
            margin-top: 18px;
        }
    }
}

.communitys {
    .follow-list {}

    .follow-item {
        width: calc((100% - 12px) / 2);
        display: inline-block;
        margin-right: 12px;
        margin-bottom: 24px;

        &::after {
            z-index: 1;
        }

        &:nth-child(2n) {
            margin-right: 0;
        }

        .follow-item-warp {
            padding: 12px;
        }

        :deep(.image) {
            width: 88px;
            height: 88px;
            margin-right: 16px;
            cursor: pointer;
        }

        .name {
            font-size: 18px;
            cursor: pointer;

            .icon {
                width: 8px;
                height: 8px;
                margin-left: 8px;
                transform: rotate(-90deg);
            }
        }

        .people {
            color: #909399;
            margin-top: 10px;

            .icon {
                width: 16px;
                height: 16px;
                margin-right: 6px;

                :deep(use) {
                    fill: #909399;
                }
            }
        }

        .collect {
            width: 37px;
            height: 37px;
            cursor: pointer;
        }

        .operate {
            margin-top: 10px;

            a {
                font-size: 12px;
                padding: 8px 18px;
                border-radius: 14px;
                cursor: pointer;
            }
        }
    }

    .refresh {
        a {
            color: #5586BB;
            cursor: pointer;

            .icon {
                width: 16px;
                height: 16px;
                margin-right: 5px;

                :deep(use) {
                    fill: #5586BB;
                }
            }
        }
    }
}

.follows {
    .user-list {
        border-bottom: 1px solid #F4F7F9;
        padding-bottom: 16px;

        .user-item {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }

            .avatar {
                width: 48px;
                height: 48px;
                margin-right: 18px;
                background: #eee;
            }

            .name {}

            .intro {
                font-size: 12px;
                color: #909399;
            }

            .operate {
                a {
                    cursor: pointer;
                    padding: 8px 12px;
                    border-radius: 14px;
                    font-size: 12px;
                }
            }

        }
    }

    .more {
        margin-top: 16px;
        color: #5586BB;
        cursor: pointer;
    }
}

.guide-list {
    .guide-item {
        cursor: pointer;
        padding: 10px 0;


        .icon-warp {
            margin-right: 12px;

            svg {
                width: 36px;
                height: 36px;
            }
        }

        .name {
            font-size: 16px;
        }

        .icon {
            width: 12px;
            height: 12px;
            transform: rotate(-90deg);
        }


        &:hover {
            .name {
                font-weight: bold;
            }
        }
    }
}