.recommend-section {
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    margin-bottom: 6px;


    .title {
        font-size: 18px;
    }

    .cont {
        margin-top: 18px;
    }
}