.is-null {
    padding: 50px;
    text-align: center;

    svg {
        width: 30px;
        height: 30px;
    }

    .tips {
        margin-top: 15px;
        color: #606266;
        font-size: 14px;
    }
}