@import '@/assets/styles/var.scss';


.pool-msg {
    background: var(--themeBgSecondColor);
    padding: 24px;
    border-radius: var(--rounded);
    margin-bottom: 36px;

    .pool-msg-item {
        border-right: 2px solid var(--divid-color);
        margin-right: 30px;

        .lable {}

        .value {
            margin-top: 12px;
            font-size: 20px;
        }
    }


    .main-border {
        padding: 6px 18px;
        cursor: pointer;
    }
}

.header {
    .title {
        font-size: 28px;
        font-weight: bold;
    }

    .main-border {
        padding: 5px 10px;
        cursor: pointer;
    }
}


.el-skeleton {
    margin-top: 20px;
}

.proposal-list {
    margin-top: 20px;
    overflow-y: auto;
    margin-left: -18px;
    margin-right: -18px;
    padding: 0 18px;

    .proposal-item {
        background: var(--themeBgSecondColor);
        border-radius: var(--rounded);
        padding: 18px;
        margin-bottom: 10px;
        cursor: pointer;
        display: block;

        .top {
            .user {
                .avatar {
                    width: 34px;
                    height: 34px;
                    margin-right: 5px;
                }
            }

            .txid {
                font-size: 12px;
                margin-left: 20px;
                padding: 0px 4px;
                background: var(--divid-color);
                border-radius: 8px;
                cursor: pointer;

                .icon {
                    width: 10px;
                    height: 10px;
                    margin-right: 5px;
                }

                &:hover {
                    color: var(--color-hover);
                }
            }

            .time {
                font-size: 12px;
                margin-left: 10px;
                color: var(--themeFadedTextColor);
            }

            .status {
                font-size: 14px;
                padding: 4px 8px;
                border-radius: 4px;
                background: var(--divid-color);

                &.faded {
                    color: var(--themeFadedTextColor);
                    background: var(--divid-color);
                }

                &.active {
                    color: var(--color-success);
                    opacity: 0.5;
                }
            }
        }

        .title {
            font-size: 18px;
            font-weight: bold;
            margin-top: 15px;
            @extend %text-ellipsis;
        }

        .content {
            margin-top: 10px;
            @include text-many-ellipsis(3);
            font-size: 14px;
            line-height: 24px;
            color: var(--themeFadedTextColor);
        }


        &:hover {
            background: rgba(var(--themeBgSecondColorRgb), 0.7);
        }
    }
}


@media only screen and (max-width: 750PX) {
    .proposal-list .proposal-item .top .txid {
        display: none;
    }
}