<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Pragma" content="no-store" />
    <meta http-equiv="Cache-control" content="no-store" />
    <meta http-equiv="Cache" content="no-store" />
    <link rel="alternate icon" href="/favicon.ico" type="image/png" sizes="16x16" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180" />
    <link rel="mask-icon" href="/favicon.svg" color="#FFFFFF" />
    <meta name="theme-color" content="#ffffff" />
    <title><% VITE_AppName /></title>
    <meta name="description" content="<% VITE_AppDescription />" />
    <style>
      @font-face {
        font-family: 'SF-Pro-Regular';
        src: url('./public/fonts/SF_PRO_Regular.ttf');
      }
    </style>
    <script>
      ;(function(doc, win, designSize, htmlFontSize) {
        var docEl = doc.documentElement,
          isIOS = navigator.userAgent.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/),
          dpr = isIOS ? Math.min(win.devicePixelRatio, 3) : 1,
          dpr = window.top === window.self ? dpr : 1, //被iframe引用时，禁止缩放
          resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize'
        docEl.dataset.dpr = dpr
        var recalc = function() {
          var width = docEl.clientWidth
          if (width / dpr > designSize) {
            width = designSize * dpr
          }
          docEl.dataset.width = width
          docEl.dataset.percent = htmlFontSize * (width / designSize)
          var fontSize = htmlFontSize * (width / designSize)
          if (fontSize < 70) {
            fontSize = 70
          }
          docEl.style.fontSize = fontSize + 'px'
        }
        recalc()
        if (!doc.addEventListener) return
        win.addEventListener(resizeEvt, recalc, false)
      })(document, window, parseFloat('<% VITE_Design_Size />'), 100)
    </script>
    <script>
      if (
        localStorage.theme === 'dark' ||
        (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>
  </head>
  <body>
    <div id="app"></div>
    <script src="/mvc.min.js"></script>
    <script src="/mvc-message.min.js"></script>
    <script src="/mvc-ecies.min.js"></script>
    <script src="/mvc-mnemonic.min.js"></script>
    <script>
      mvc.Message = mvcMessage
      mvc.ECIES = mvcEcies
      mvc.Mnemonic = mvcMnemonic
      window.mvc = mvc
      window.ECIES = mvc.ECIES
      window.Mnemonic = mvc.Mnemonic
    </script>

    <script src="/bip39.min.js"></script>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
