@import '@/assets/styles/var.scss';


:deep(.swiper-pagination) {
    bottom: 0;

    .swiper-pagination-bullet {
        width: 12px;
        height: 4px;
        border-radius: 3px;
        background: #BFC2CC;
        opacity: 1;

        &.swiper-pagination-bullet-active {
            background: var(--color-primary);
        }
    }
}

.nft-home-module {
    margin-top: 9px;

    .title {
        //text-align: center;
        font-size: 30px;

        .el-skeleton__item {
            height: 24px;
            width: 100px;
        }
    }

    .cont {
        margin-top: 30px;
        position: relative;
    }
}

.hot-collection {
    padding-bottom: 30px;
    border-radius: 24px;

    .el-skeleton__item {
        height: 587px;
        margin-right: 10px;
        border-radius: 24px;

        &:last-child {
            margin-right: 0;
        }
    }


    .hot-collection-item {
        cursor: pointer;
        position: relative;
       overflow: hidden;
        border-radius: 24px;
        width: 508px !important;
        //height: 587px !important;
       
        display: flex;
        flex-direction: column;
        //align-items: center;
        //justify-content: center;
        padding:24px;
        background: #29272E;
        .image {
            width:100% !important;
            max-width: 460px !important;
            height: 387px !important;
            
            //padding-bottom: 75%;
            position: relative;
            overflow: hidden;
           

            img {
                left: 0;
                border-radius: 16px;
                top: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                display: block;


                transition: all 0.5s;
                object-fit: cover;
            }
        }

        .cover {
            position: absolute;
           width: 100%;
           height: 100%;
           
            left: 0;
            top: 0;
            z-index: 2;
            // background: linear-gradient(0deg, var(--themeTextColor) 0%, transparent 38%);
            border-radius: 16px;
            overflow: hidden;
        }


        .name {
            font-size: 28px;
            white-space: nowrap;
            overflow: hidden;//文本超出隐藏
            text-overflow: ellipsis;//文本
            // position: absolute;
            // left: 0;
            // bottom: 0;
            // width: 100%;
            // padding: 18px;
            // box-sizing: border-box;
            // z-index: 3;
            // color: var(--themeBgColor);
        }


        &:hover {
            .collection-cover {
                transform: scale(1.1);
            }
        }


    }
}


.latest-collection {
    padding-bottom: 30px;

    .el-skeleton__item {
        height: 500px;
        margin-right: 15px;
        border-radius: var(--rounded);

        &:last-child {
            margin-right: 0;
        }
    }

    .latest-collection-item {
        background: var(--themeBgSecondColor);
        border-radius: var(--rounded);
        overflow: hidden;
        cursor: pointer;

        .cover {
            width: 500px;
            height: 500px;
            overflow: hidden;
            border-radius: var(--rounded);

            img {
                width: 100%;
                display: block;

                transition: all 0.5s;
            }
        }

        .content {
            padding: 8px 18px;

            .avatar {
                width: 48px;
                height: 48px;
                margin-right: 12px;
            }

            .name {
                .text {
                    font-size: 16px;
                    @extend %text-ellipsis;
                }

                svg {
                    width: 24px;
                    height: 24px;
                    min-width: 24px;
                    min-height: 24px;
                    margin-left: 5px;
                }
            }

            .metaid {
                color: var(--faded-border-color);
                font-size: 12px;
                margin-top: 2px;


            }
        }


        &:hover {
            .cover {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }
}


.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    //box-shadow: 0px 0px 6px 0px var(--faded-border-color);
    background: #DE59FC;
    top: 50%;
    margin-top: -17px;
    z-index: 3;

    .icon {
        width: 10px;
        height: 16px;
        color: #fff !important;
    }

    &:hover {
        .icon {
            transform: scale(1.3);
        }
    }
}

.swiper-button-next {
    right: 0;
    transform: rotate(-90deg);
    margin-right: -17px;
}

.swiper-button-prev {
    left: 0;
    transform: rotate(90deg);
    margin-left: -17px;
}

.notable-collections{
    margin-top: 70px;
    .notable-item-wrap{
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        
        gap: 30px;
        .notable-item{
            cursor: pointer;
           flex: 1 1 400px;
            
            height: 370px;
            padding: 24px;
            
            background: #29272E;
            border-radius: 16px;
           .image{
            width:100% !important;
           
            height: 208px;
            
            //padding-bottom: 75%;
            position: relative;
            overflow: hidden;
           
            .collection-cover{
                left: 0;
                top: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                display: block;

                border-radius: 16px;
                transition: all 0.5s;
                object-fit: cover;
            }
           }
            .name {
                font-size: 20px;
                white-space: nowrap;
                overflow: hidden;//文本超出隐藏
                text-overflow: ellipsis;//文本
              
            }
            &:hover {
                .collection-cover {
                    transform: scale(1.05);
                }
            }
        }
    }
}