.logo {
    position: relative;
    cursor: pointer;

    .logo {
        width: 32px;
        height: 32px;
    }

    .logo-text {
        height: 27px;
        width: auto;
        margin-left: 10px;
        fill: var(--themeTextColor);
    }
}