@import '@/assets/styles/var.scss';
.tariff-description{
    max-width: 516px;
    margin: 0 auto;
    padding: 0 30px;
    .title{
        font-size: 24px;
        font-weight: 500;
        text-align: center;
    }

    .tariff-description-section{
        margin-top: 60px;
        .tariff-description-title{
            font-size: 20px;
            font-weight: 500;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                width: 8px;
                height: 8px;
                background: $mainColor;
                left: 0;
                top: 50%;
                margin-top: -4px;
                margin-left: -16px;
            }
        }

        .type{
            margin-top: 30px;
            font-size: 16px;
            span{
                color: #456FC4;
            }
        }
        .drsc{
            margin-top: 30px;
            font-size: 16px;
            font-weight: 400;
            .drsc-title{

            }
            .drsc-cont{
                margin-top: 20px;
                line-height: 36px;
            } 
        }
    }
}