@import '@/assets/styles/var.scss';

.user-card {
    .header {
        padding: 21px;
        border-bottom: 1px solid var(--divid-color);

        .cont {
            margin-right: 15px;
        }

        .name {
            font-size: 700;
            font-size: 16px;
            max-width: 100px;
            @extend %text-ellipsis;
        }

        .metaid {
            color: #909399;
            font-size: 12px;
        }

        .operate {
            a {
                padding: 8px 10px;
                cursor: pointer;
                border-radius: 14px;
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}