.banner {
    border-radius: var(--rounded);
    overflow: hidden;

    :deep(.swiper-slide) {}

    .banner-item {


        .cover {
            display: block;

            img {
                width: 100%;

            }
        }
    }
}

:deep(.swiper-pagination) {
    bottom: 0;

    .swiper-pagination-bullet {
        width: 12px;
        height: 4px;
        border-radius: 3px;
        background: #BFC2CC;
        opacity: 1;

        &.swiper-pagination-bullet-active {
            background: var(--color-primary);
        }
    }
}


.nft-home-module {
    margin-top: 60px;

    .title {
        text-align: center;
        font-size: 24px;
    }

    .cont {
        margin-top: 30px;
    }
}

.hot-collection {
    padding-bottom: 30px;



    .hot-collection-item {
        cursor: pointer;
        position: relative;
        overflow: hidden;
        border-radius: var(--rounded);
        overflow: hidden;

        img {
            width: 100%;
            display: block;
            border-radius: var(--rounded);
            overflow: hidden;
            transition: all 0.5s;
        }

        .cover {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 2;
            background: linear-gradient(0deg, var(--themeTextColor) 0%, transparent 38%);
            border-radius: var(--rounded);
            overflow: hidden;
        }

        .name {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            padding: 18px;
            box-sizing: border-box;
            z-index: 3;
            color: var(--themeBgColor);
        }


        &:hover {
            img {
                transform: scale(1.1);
            }
        }


    }
}

.latest-collection {
    padding-bottom: 30px;


    .latest-collection-item {
        background: var(--themeBgColor);
        border-radius: var(--rounded);
        overflow: hidden;
        cursor: pointer;

        .cover {
            overflow: hidden;
            border-radius: var(--rounded);

            img {
                width: 100%;
                display: block;

                transition: all 0.5s;
            }
        }

        .content {
            padding: 8px 18px;

            .avatar {
                width: 48px;
                height: 48px;
                margin-right: 12px;
            }

            .name {
                font-size: 16px;
            }

            .metaid {
                color: var(--faded-border-color);
                font-size: 12px;
                margin-top: 2px;
            }
        }


        &:hover {
            .cover {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }
}


.leader-board {
    border-radius: var(--rounded);
    background: var(--themeBgColor);

    .top {
        padding: 30px;
        border-bottom: 1px solid var(--divid-color);

        .name {
            font-size: 24px;
        }

        .screen {
            .screen-item {
                white-space: nowrap;
                margin-right: 20px;

                &:last-child {
                    margin-right: 0;
                }

                .lable {
                    font-size: 16px;
                    color: var(--faded-border-color);
                    margin-right: 18px;
                }

                .divid {
                    height: 1px;
                    width: 30px;
                    background: var(--faded-border-color);
                    margin: 0 10px;
                }

                .el-button {
                    height: var(--input-height);
                    background: var(--themeBgColor);

                    &:hover {
                        border-color: var(--themeTextColor);
                        box-shadow: 3px 3px 0 var(--themeTextColor);
                    }
                }

                :deep(.el-input__inner) {
                    text-align: center;
                }

                .el-input,
                .el-select {
                    width: 100px;
                }
            }
        }
    }


    .content {
        padding: 18px 30px;

        .rank-section {
            margin-right: 60px;

            &:last-child {
                margin-right: 0;
            }

            .rank-item {
                font-size: 16px;
                padding: 9px 0;

                &.th {
                    color: var(--faded-border-color);
                }

                .collection {
                    .image {
                        width: 60px;
                        height: 60px;
                        border-radius: 8px;
                        margin-left: 10px;
                    }

                    .name {
                        margin-left: 18px;
                    }

                    svg {
                        margin-left: 10px;
                    }
                }

                .floor-price,
                .trading-volume {
                    margin: 0 10px;
                    width: 150px;
                }


            }
        }
    }
}