.nft-issue {
    header {
        margin-top: 3px;

        .title {
            font-size: 22px;
            font-weight: bold;
        }

        .main-border {
            cursor: pointer;
            padding: 10px 15px;
        }
    }
}