@import '@/assets/styles/var.scss';
.picker-modal{
    width: 300px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(48, 49, 51, 0.1);
    position: absolute;
    right: 0;
    top: 0;
    position: absolute;
    z-index: 2;

    .picker-modal-header{
        padding: 20px;
        .title{
            font-size: 16px;
            font-weight: 500;
            span{
                color: #909399;
            }
        }
        a{
            color: #456FC4;
            font-size: 16px;
            cursor: pointer;
        }
    }

    .picker-model-body{
        padding-bottom: 20px;
        .picker-model-list{
            .picker-model-item{
                padding: 10px 20px;
                cursor: pointer;
                &:hover{
                    background: rgba(254, 179, 57, 0.1);
                }
                .label{
                    font-size: 16px;
                }
                .secected,.icon{
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .null{
            text-align: center;
            margin: 20px 0px;
            font-size: 14px;
            color: #BFC2CC;
        }
    }
}