.nft-msg-card{
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    .cover{
        width: 160px;
        height: 160px;
        border-radius: 6px;
        background: #eee;
        object-fit: cover;
    }
    .cont{
        padding: 15px;
        min-width: 0;
        .name{
            font-size: 18px;
            font-weight: 500;
            margin-top: 0;
        }
        .msg-item{
            margin-top: 10px;
            .key{
                color: #909399;
                font-size: 14px;
            }
            .value{
                min-width: 0;
                .author{
                    img,.el-skeleton__circle{
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        margin-right: 6px;
                    }
                    .username{
                        flex: 1;
                        min-width: 0;
                    }
                }
            }
        }
    }
}