#phone-content {
    display: none;
    position: relative;

}

#phone-menu-btn {
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
    cursor: pointer;
}

.dived {
    height: 20px;
    width: 1PX;
    min-width: 1PX;
    background: var(--divid-color);
    margin: 0 5px;
}

@media only screen and (max-width: 1110PX) {
    #phone-content {
        display: flex;
    }

}