.buzz-menu-warp {
    position: fixed;
    left: 50%;
    margin-left: -445px;
    z-index: 2;
    top: calc(60px + 12px);
}


.buzz-warp {
    padding-top: 12px;
    box-sizing: border-box;

    .buzz-container {
        position: relative;
        width: 95%;
        max-width: 600px;
        margin: 0 auto;

    }


    .container {
        position: relative;
    }

    .fast-btn {
        position: fixed;
        bottom: 10%;
        right: 50%;
        margin-right: -396px;
        z-index: 5;




        a {
            width: 52px;
            display: block;
            padding: 14px;
            margin-bottom: 20px;
            cursor: pointer;

            &:last-child {
                margin-bottom: 0;
                background: #F5F7FA;
            }

            .icon {
                width: 20px;
                height: 20px;
            }
        }
    }

    .buzz-menu {
        width: 180px;
        box-sizing: border-box;
        background: var(--themeBgSecondColor);
        border-radius: 12px;
        padding: 12px;

        .buzz-menu-item {
            border-radius: 6px;
            padding: 12px;
            margin-bottom: 10px;
            color: var(--themeTextColor);



            &:last-child {
                margin-bottom: 0;
            }

            .icon-warp {
                border: 2px solid var(--themeTextColor);
                border-radius: calc(100% / 2.5);
                width: 24px;
                height: 24px;
                box-shadow: 3px 3px var(--themeTextColor);
                margin-right: 15px;

                .icon {
                    width: 16px;
                    height: 16px;

                    :deep(use) {
                        fill: var(--themeTextColor);
                    }
                }
            }

            &.router-link-active {
                background: var(--el-color-primary);
                color: var(--themeBtnTextColor);


                .icon-warp {
                    box-shadow: 3px 3px var(--themeBtnTextColor);
                    border-color: var(--themeBtnTextColor);
                }

                .icon {


                    :deep(use) {
                        fill: var(--themeBtnTextColor);
                    }
                }
            }


        }
    }
}

@media only screen and (max-width: 1024PX) {

    .buzz-menu-warp {
        display: none;
    }
}