.group-msg {
    overflow: hidden;
    border-radius: 12px;
    position: relative;
    background: var(--themeBgSecondColor);
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .bg-image {
        position: absolute;
        border-radius: 12px;
        width: 100%;
        height: auto;
        left: 0;
        top: 0;
        z-index: 1;
    }

    .bg {
        position: absolute;
        width: 100%;
        border-radius: 12px;
        height: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(360deg, var(--themeBgSecondColor) 0%, rgba(255, 255, 255, 0.00) 97%);
        // filter: blur(4px);
        z-index: 2;
    }

    .content {
        position: relative;
        z-index: 3;
        padding: 18px;

        .back {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .menu-select-wrap {

                font-size: 12PX;

                .menu-select {
                    display: none;
                }

                @media only screen and (max-width: 1110PX) {
                    .menu-select {
                        display: flex;
                        box-sizing: border-box;
                        flex-direction: row;
                        align-items: center;

                        .menu-select-item {
                            width: 96PX;
                            height: 33PX;

                            //margin-bottom: 10PX;
                            margin-right: 10px;
                            color: var(--themeTextColor2);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-image: url('@/assets/images/buzz_select.png');
                            background-repeat: no-repeat;
                            cursor: pointer;

                            &:last-child {
                                margin-bottom: 0;
                            }

                            &:hover {
                                background-image: url('@/assets/images/buzz_select_active.png');
                                background-repeat: no-repeat;
                            }
                        }

                        .isActive {
                            background-image: url('@/assets/images/buzz_select_active.png');
                            background-repeat: no-repeat;
                            // background: var(--el-color-primary);
                            color: var(--themeBtnTextColor);
                        }
                    }
                }
            }

            a {
                cursor: pointer;
                width: 24px;
                height: 24px;
                line-height: 24px;
                display: inline-block;
                text-align: center;

                .icon {
                    transform: rotate(90deg);
                    width: 14px;
                    height: 14px;
                    display: inline-block;

                    :deep(use) {
                        fill: #767676;
                    }
                }

                &:hover {
                    .icon {
                        :deep(use) {
                            fill: var(--themeTextColor);
                        }
                    }
                }
            }
        }
    }

    .msg {
        margin-top: 24px;

        .icon-warp {
            width: 80px;
            height: 80px;
            border-radius: 12px;
            position: relative;
            box-sizing: border-box;
            margin-right: 16px;

            .box-shadow {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                border: var(--standard-border-width) solid var(--themeTextColor);
                border-radius: 12px;
                box-sizing: border-box;
                margin-left: 6px;
                margin-top: 6px;
                z-index: 1;
            }

            .content-warp {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: #FFFFFF;
                border: var(--standard-border-width) solid var(--themeTextColor);
                z-index: 2;
                border-radius: 12px;

                img {
                    width: 38px;
                    height: 38px;
                }
            }
        }

        .name {
            font-size: 20px;
            font-weight: 500;
        }

        .intro {
            margin-top: 5px;
            font-size: 14px;
            color: var(--themeTextColor);
            opacity: 0.5;
        }

        .el-input {
            :deep(.el-input__inner) {
                height: 20px;
                line-height: 20px;
            }
        }

        .cont {
            width: 100%;
        }
    }


    .tab {
        margin-top: 24px;
        overflow-y: auto;
        padding-bottom: 15px;

        a {
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
            padding: 6px 24px;
            margin-right: 24px;
            border-radius: 40px;
            border: 1px solid transparent;
            white-space: nowrap;
            opacity: 0.5;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                border-color: var(--themeTextColor);
                box-shadow: 3px 3px 0 var(--themeTextColor);
                opacity: 1;
            }

            &.active {
                border-color: var(--themeTextColor);
                box-shadow: 3px 3px 0 var(--themeTextColor);
                background: var(--el-color-primary);
                color: var(--themeBtnTextColor);
                opacity: 1;
            }
        }
    }
}

.buzz-list-warp {
    margin-top: 6px;
    margin-bottom: 6px;
}