.topic-header {
    border-radius: 12px;
    background: var(--themeBgSecondColor);
    padding: 18px;

    .back {
        cursor: pointer;
        width: 24px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        margin-right: 18px;

        .icon {
            width: 10px;
            height: 10px;
            transform: rotate(90deg);

            :deep(use) {
                fill: var(--themeTextColor);
            }
        }

        &:hover {
            .icon {
                :deep(use) {
                    fill: var(--themeBtnTextColor);
                }
            }
        }
    }

    .tag {
        width: 36px;
        height: 36px;
        background: var(--el-color-primary);
        border-radius: 50%;
        margin-right: 6px;
    }

    .name {
        font-size: 24px;
        line-height: 36px;
    }

    .operate {
        cursor: pointer;

        .icon {
            width: 12px;
            height: 12px;
            margin-right: 6px;
        }
    }

}

.buzz-list-warp {
    margin-top: 6px;
}