@import '@/components/Nft-item/Nft-item.scss';

.nft-item{
    &:deep(.el-skeleton__text){
        height: 20px;
        &.title{
            height: 25px;
        }
    }

    .center{
        margin-top: 5px;
    }
    .bottom{
        margin-top: 16px;
    }
}