.register-page {
    .intro {
        font-size: 16px;
        color: #7e7e80;

        a {
            color: #112d9e;
        }
    }

    .message-code-warp {
        .el-input {
            margin-right: 30px;
        }
    }

    .el-dialog {
        width: 335px;
    }

    .suscc-warp {
        text-align: center;

        .icon-wrap {
            color: #5867dd;
        }

        .tips {
            font-size: 18px;
            padding: 20px 16px;
        }

        .el-button {
            margin-top: 50px;
        }
    }

    .btn-submit {
        width: 100%;
    }
}