.collection-wrap {
    width: 100%;
    height: auto;
    border-radius: 12px;
    // height: var(--nft-topbar-height);
    box-sizing: border-box;
    padding: 18px;
    // position: sticky;
    // left: 0;
    // top: calc(var(--header-height));
    // z-index: 3;
    background: var(--themeBgSecondColor);
}

.top-bar {
    background: var(--themeBgSecondColor);
    border-bottom: 1px solid var(--themeBgThreeColor);
    padding-bottom: 27px;

    .back {
        cursor: pointer;
        margin-right: 30px;
        display: inline-flex;

        span {
            width: 34px;
            height: 34px;
            border-radius: 50%;
            background: var(--themeBgThreeColor);
            margin-right: 8px;
        }

        .icon {
            width: 10px;
            height: 10px;
            transform: rotate(90deg);
        }

        &:hover {
            span {
                background: var(--themeTextColor);

                .icon {
                    :deep(use) {
                        fill: var(--themeBgColor);
                    }
                }
            }
        }
    }


    .search {
        background: var(--themeBgThreeColor);
        border-radius: 18px;
        padding: 0 18px;
        width: 360px;
        box-sizing: border-box;

        .icon {
            width: 22px;
            height: 22px;
            margin-right: 6px;
            color: #909399;
        }

        input {
            height: 36px;
            line-height: 36px;
            background: transparent;
            outline: none;
            font-size: 12px;
        }
    }

    nav {
        a {
            font-size: 16px;
            margin-right: 24px;
            cursor: pointer;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                position: relative;

                &:after {
                    content: '';
                    background: var(--el-color-primary);
                    width: 40px;
                    height: 4px;
                    border-radius: 4px;
                    position: absolute;
                    display: block;
                    left: 50%;
                    margin-left: -20px;
                    bottom: 0;
                    margin-bottom: -10px;
                }
            }
        }
    }
}

.nfts-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.nfts-intro {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
    word-break: break-all;

}

.nfts-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}


.operate {
    margin-top: 35px;

    a {
        padding: 18px;
        text-align: center;
        margin-right: 10px;
        cursor: pointer;

        &:last-child {
            margin-right: 0;
        }
    }
}





@media only screen and (max-width: 750PX) {

    .top-bar-warp {
        .top-bar {


            .flex1 {

                .search {
                    width: auto;
                }
            }

            nav {
                margin-top: 18px;
                width: 100%;
                text-align: center;
            }
        }

    }
}