.collection-wrap {
    width: 100%;
    height: auto;
    border-radius: 12px;
    // height: var(--nft-topbar-height);
    box-sizing: border-box;
    padding: 18px;
    // position: sticky;
    // left: 0;
    // top: calc(var(--header-height));
    // z-index: 3;
    background: var(--themeBgSecondColor);

 
}

.top-bar {
    // background: var(--themeBgSecondColor);
    // border-bottom: 1px solid var(--themeBgThreeColor);
    padding-bottom: 27px;

    .back {
        cursor: pointer;
        margin-right: 30px;
        display: inline-flex;

        span {
            width: 34px;
            height: 34px;
            border-radius: 50%;
            background: var(--themeBgThreeColor);
            margin-right: 8px;
        }

        .icon {
            width: 10px;
            height: 10px;
            transform: rotate(90deg);
        }

        &:hover {
            span {
                background: var(--themeTextColor);

                .icon {
                    :deep(use) {
                        fill: var(--themeBgColor);
                    }
                }
            }
        }
    }


    .search {
        background: var(--themeBgThreeColor);
        border-radius: 18px;
        padding: 0 18px;
        width: 360px;
        box-sizing: border-box;

        .icon {
            width: 22px;
            height: 22px;
            margin-right: 6px;
            color: #909399;
        }

        input {
            height: 36px;
            line-height: 36px;
            background: transparent;
            outline: none;
            font-size: 12px;
        }
    }

    nav {
        a {
            font-size: 16px;
            margin-right: 24px;
            cursor: pointer;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                position: relative;

                &:after {
                    content: '';
                    background: var(--el-color-primary);
                    width: 40px;
                    height: 4px;
                    border-radius: 4px;
                    position: absolute;
                    display: block;
                    left: 50%;
                    margin-left: -20px;
                    bottom: 0;
                    margin-bottom: -10px;
                }
            }
        }
    }
}

.nfts-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nfts-name{
    width: 80%;
    
    // width: 25%;
    // max-width: 25%;
    span{
        white-space: nowrap;   /* 防止换行 */
            overflow: hidden;      /* 隐藏溢出文本 */
            text-overflow: ellipsis;
    }
}

.nfts-intro {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
    word-break: break-all;

}

@media screen and (max-width: 500px){
    .nfts-name{
        width: 50%;
        max-width: 50%;
        // width: 25%;
        // max-width: 25%;
        span{
           
            white-space: nowrap;   /* 防止换行 */
                overflow: hidden;      /* 隐藏溢出文本 */
                text-overflow: ellipsis;
        }
    }
    .nfts-intro {
       
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        width: 50%;
        max-width: 50%;
        word-break: break-all;
        span{
           
          
        }
    
    }
}



.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* 限制显示2行 */
    overflow: hidden;
    /* 隐藏超出部分 */
}

.nfts-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}


.operate {
    margin-top: 35px;

    a {
        padding: 18px;
        text-align: center;
        margin-right: 10px;
        cursor: pointer;

        &:last-child {
            margin-right: 0;
        }
    }
}

.form-wrap {
    :deep(.el-input) {
        border: none;
        box-shadow: none;
    }

    :deep(.el-input__wrapper) {
        background-color: #29272E;
        opacity: 1;
    }

    :deep(.el-textarea__inner) {
        background-color: #151417;
        opacity: 1;
        border: none !important;
        box-shadow: none !important;
        color: #fff;
    }

    :deep(.el-select) {
        --el-select-input-focus-border-color: #fff !important;
    }

    // :deep(.el-select) {

    // }
    // .el-table th.el-table__cell{
    //     background-color: #17161A;
    // }
    // .el-table__header-wrapper {}

    :deep(.el-table__inner-wrapper) {
        background-color: #17161A !important;
    }

    :deep(.el-table tr) {
        background-color: #17161A !important;
    }

    :deep(.el-table__body-wrapper tbody tr:hover) {
        background-color: transparent !important;
    }

    :deep(.el-input__inner) {
        color: #ffffff;
    }

    :deep(.el-table) {
        --el-table-row-hover-bg-color: transparent;
    }



}

.mintDialog-style {
    :deep(.el-input) {
        border: none;
        box-shadow: none;
        height: 48px;
    }

    :deep(.el-input__wrapper) {
        background-color: #151417;
        opacity: 1;
    }

    :deep(.el-textarea__inner) {
        background-color: #151417;
        opacity: 1;
        border: none !important;
        box-shadow: none !important;
        color: #fff;
    }

    :deep(.el-select) {
        --el-select-input-focus-border-color: #fff !important;
    }

    :deep(.el-dialog__body) {
        padding-bottom: 0 !important;
    }

    :deep(.el-input__inner) {
        color: #ffffff;
    }

    :deep(.el-select-dropdown__item) {
        color: red;
    }

}

.price-area {
    :deep(.el-input) {
        // border: none;
        box-shadow: none;
        height: 48px;
        border: 1px solid #656170;
    }

    :deep(.el-input__wrapper) {
        background-color: transparent;
        opacity: 1;
    }

    :deep(.el-input__inner) {
        color: #ffffff;
    }
}

:deep(.el-loading-mask) {
    background-color: transparent;
}




.collection-selector {
    :deep(.el-input) {
        border: none;
        box-shadow: none;
        height: 44px;
    }

    :deep(.el-input__wrapper) {
        background-color: #151417;
        opacity: 1;
        border: 1px solid #656170;
        font-size: 18px !important;
        
      
    }



    :deep(.el-select) {
        
        --el-select-input-focus-border-color: #fff !important;
    }

    :deep(.el-input__inner) {
       
        color: #ffffff;
        font-size: 18px !important;
       
    }

}



.msg-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;

    .modal {
        opacity: 1;
        background: #242227;
        text-align: center;
        position: relative;
        width: 25vw;
        // height: 50vh;
        // box-sizing: border-box;
        line-height: 1.4;
        border-radius: 12px;
        box-sizing: border-box;
        color: red;
        padding: 30px 20px;

        @media screen and (max-width: 1440px) {
            width: 35vw;
        }

        @media screen and (max-width: 750px) {
            width: 80vw;
        }

        .close-style {
            position: absolute;
            right: 20px;
            top: 20px;
            width: 12px;
            height: 12px;
            cursor: pointer;
        }

        .title-line {
            font-family: Sora;
            font-size: 24px;
            font-weight: 600;
            color: #FFFFFF;
        }


        .button-area {
            padding: 0 20px;
            box-sizing: border-boxs;

            .send-button {
                background: #0f7bff;
                border-radius: 12px;
                border: 2px solid #303133;
                font-size: 16px;
                font-family: PingFang SC, PingFang SC;
                font-weight: 500;
                color: #ffffff;
                box-sizing: border-box;
                padding: 15px;
                cursor: pointer;
                box-shadow: 3px 3px 0px #303133;
            }

            .isComplete {
                background-color: #edeff2 !important;
                color: #bfc2cc !important;
                border: 2px solid #bfc2cc !important;
                box-shadow: 3px 3px 0px #bfc2cc !important;
            }
        }
    }
}

@media screen and (max-width: 980px){
    .nfts-card{
        display: flex;
        flex-direction: column;
        .nfts-cover-container {
            display: flex;
            flex-direction: row;
        }
        .nfts-detail{
            margin-top: 30px;
            justify-content: flex-start;
            .grip-wrap{
                display: grid;
                grid-template-columns: repeat(4,1fr);
            }
         
           
        }
    }
}


@media only screen and (max-width: 750PX) {

    .top-bar-warp {
        .top-bar {


            .flex1 {

                .search {
                    width: auto;
                }
            }

            nav {
                margin-top: 18px;
                width: 100%;
                text-align: center;
            }
        }

    }
}

@media only screen and (max-width: 750px) {
    .collection-wrap {
       
        padding: 0 !important;
       
    }

    .set-price-wrap{
        display: flex;
        flex-direction: column;
        &:deep(.el-form-item){
            width: 100% !important;
        }
    }
 
}


@media screen and (max-width: 500px){
    .nfts-card{
        display: flex;
        flex-direction: column;
        .nfts-cover-container{
            
      }
        .nfts-detail{
            margin-left: 0 !important;
            margin-top: 40px;
            justify-content: flex-start;
            .grip-wrap{
                display: grid;
                grid-template-columns: repeat(2,1fr);
            }
         
           
        }
    }

    .collection-selector {
        :deep(.el-input) {
            border: none;
            box-shadow: none;
            height: 44px;
        }
    
        :deep(.el-input__wrapper) {
            background-color: #151417;
            opacity: 1;
            border: 1px solid #656170;
            font-size: 14px !important;
            
          
        }
    
        
    
        :deep(.el-select) {
            
            --el-select-input-focus-border-color: #fff !important;
        }
    
        :deep(.el-input__inner) {
           
            color: #ffffff;
            font-size: 14px !important;
           
        }
    
    }
}

