.login-and-register {
    padding: 0;
}

.tabs {
    border-bottom: 1px solid #F0F3F6;

    a {
        /* 邮箱 */

        font-size: 16px;
        font-weight: normal;
        line-height: 24px;
        letter-spacing: 0px;
        display: inline-block;

        /* c4 */
        color: #BFC2CC;
        margin-right: 30px;
        padding-bottom: 5px;
        cursor: pointer;

        &:last-child {
            margin-right: 0;
        }

        &.active {
            color: var(--themeBtnTextColor);
            position: relative;

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 3px;
                background: var(--el-color-primary);
                left: 0;
                bottom: 0;
                margin-bottom: -2px;
                z-index: 2;
            }
        }
    }
}

.el-form {
    margin-top: 40px;
}

.country-select {
    color: var(--themeBtnTextColor);
    font-size: 12px;

    .iti-flag {
        margin-right: 4px;

    }
}

.operate {
    margin-top: 38px;

    .operate-top {
        color: #909399;
        font-size: 12px;

        a {
            cursor: pointer;
            color: #5586BB;
            text-decoration: underline;
        }

        .forget {
            cursor: pointer;
        }
    }

    .operate-btn {
        margin-top: 10px;
    }
}

.image-code {
    width: 100px;
    height: 30px;
    background: var(--el-border-color);

    :deep(.el-loading-mask) {
        .el-loading-spinner {
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;

            .circular {
                width: 15px;
                height: 15px;
            }
        }
    }
}