@import '@/assets/styles/var.scss';

.nft-item {
    border: 2px solid #303133;
    padding: 18px;
    border-radius: var(--rounded);
    cursor: pointer;
    font-family: Sora;

    :deep(.nft-cover) {
        border: 2px solid #303133;
        border-radius: 8px;
    }

    .token-index {
        opacity: 0.5;
        font-size: 12px;
        margin-top: 4px;
    }

    .name {
        margin-top: 18px;
        font-size: 20px;
        font-weight: normal;
        @extend %text-ellipsis;

        &.simple {
            font-size: 14px;
        }

        .el-skeleton__item {
            height: 20px;
            width: 80%;
        }
    }

    .amount {
        font-size: 20px;
        line-height: 24px;
        margin-top: 18px;
        font-weight: bold;

        &.simple {
            font-size: 12px;
            color: var(--color-hover);
            margin-top: 4px;
        }

        .el-skeleton__item {
            height: 20px;
            width: 60px;
        }
    }

    .user-list {
        margin-top: 18px;

        .el-skeleton__item {
            height: 24px;
            width: 80%;
        }

        .user-item {
            line-height: 24px;
            margin-bottom: 6px;

            &:last-child {
                margin-bottom: 0;
            }

            .avatar {
                width: 24px;
                height: 24px;
                min-height: 24px;
                min-width: 24px;
            }

            .info {
                // opacity: 0.6;
                font-size: 14px;
                font-weight: 300;
            }

            .user-name-warp {
                @extend %text-ellipsis;
                margin: 0 5px;
            }

            .role {
                white-space: nowrap;
            }
        }
    }

    .main-border,
    .el-skeleton__button {
        margin-top: 18px;
        font-size: 16px;
        padding: 13px 0;
        text-align: center;
        cursor: pointer;
    }

    .el-skeleton__button {
        width: 100%;
    }

    .fade {
        background-color: #656170;
    }
}

@media screen and (max-width:750PX) {}