.outsideMore {
    margin-right: 14px;

    .metanameLogo {
        width: 22px;
        height: 22px;
    }
}

.user-warp {

    .avatar {
        cursor: pointer;
    }
}

.user-warp-item {
    margin-right: 15px;
    width: 36px;
    height: 36px;
    border-radius: calc(100% / 2.5);
    border: var(--standard-border-width) solid var(--faded-border-color);
    box-sizing: border-box;
    cursor: pointer;

    &:hover,
    &.active {
        border-color: var(--border-color);
    }

    .icon {
        width: 22px;
        height: 22px;
    }
}

.connect-wallet {
    padding: 8px 16px;
    cursor: pointer;
    margin-right: 18px;
}


.user-operate-item {
    padding: 17px 48px;
    cursor: pointer;


    &:hover {
        // background: var(--el-color-primary);
    }


    .icon {
        width: 24px;
        height: 24px;
        margin-right: 14px;
    }

    .name {}
}

.balance {
    padding: 0 18px;
}





.more {
    margin-right: 0;
}


.version-warp {
    margin-right: 15px;
}

@media only screen and (max-width: 1024PX) {

    .user-warp-item {
        width: 30PX;
        height: 30PX;
    }

}