.user-warp {
    .avatar {
        margin-right: 15px;
    }

    .avatar,
    .more {
        width: 36PX;
        height: 36PX;
    }

    @media (min-width: 1024PX) {
        .avatar {
            margin-right: 18px;
        }

        .avatar,
        .more {
            width: 40PX;
            height: 40PX;
        }
    }

    .more {
        border-radius: calc(100% / 2.5);
        border: 1.5PX solid #EDEFF2;

        &:hover,
        &.active {
            border-color: #BFC2CC;
        }

        .icon {
            width: 22px;
            height: 22px;
        }
    }


}

.user-operate-item {
    padding: 17px 48px;
    cursor: pointer;


    &:hover {
        background: var(--el-color-primary);
    }


    .icon {
        width: 24px;
        height: 24px;
        margin-right: 14px;
    }
}