header {
    position: relative;
    height: var(--header-height);
    border-bottom: 1px solid var(--divid-color);
    padding: 0 18px;

    .icon {
        width: 12px;
        height: 12px;
        cursor: pointer;
        position: relative;
        z-index: 2;
        transform: rotate(90deg);
    }

    .title {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: var(--header-height);
        line-height: var(--header-height);
        text-align: center;
        font-size: 16px;
    }
}

.content {
    padding: 18px;
}

.discount {
    padding: 18px 0;
    margin-top: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.03);
    background: var(--el-color-primary);
    border-radius: 12px;
    padding: 10px 15px;
    cursor: pointer;

    .icon {
        width: 44px;
        height: 44px;
        margin-right: 8px;
    }

    .name {}

    .time {
        font-size: 12px;
        font-weight: normal;
        letter-spacing: 0em;

        /* color 2 */
        color: #909399;
        margin-top: 5px;
    }

    a {
        font-weight: 500;
        letter-spacing: 0em;

        /* blue */
        color: #02A7FF;
    }
}

.coupon-msg {
    .item {
        margin-bottom: 24px;

        &:last-child {
            margin-bottom: 0;
        }

        .lable {
            line-height: 28px;
            color: #fff;
        }

        .value {
            line-height: 28px;
            color: #909399;
        }
    }
}

.form {


    .form-section {
        margin-bottom: 18px;
        border-bottom: 1px solid var(--divid-color);
        padding-bottom: 18px;

        &:last-child {
            border-bottom: 0;
        }

        .form_item {
            margin-bottom: 18px;

            &:last-child {
                margin-bottom: 0;
            }

            .label {}

            .value {
                border: var(--standard-border-width) solid #EDEFF2;
                border-radius: 12px;
                margin-top: 10px;

                &.input {
                    padding: 12px 14px;
                    cursor: text;
                }

                input {
                    border: none;
                    outline: none;
                    text-align: right;
                    background: var(--themeBgSecondColor);
                    flex: 1;
                    min-height: 0;
                }

                .sufix {
                    min-width: 40px;
                    text-align: center;
                }

                &:hover,
                &.active {
                    border-color: var(--themeTextColor);
                }
            }


        }
    }
}



.operate {
    padding: 17px 0;
    text-align: center;
    cursor: pointer;
    font-size: 16px;

    &.faded {
        cursor: not-allowed;
    }
}

.rate {

    margin-top: 15px;
    text-align: center;
    opacity: 0.5;
}