@import '@/assets/styles/var.scss';
.create{
    max-width: 486px;
    margin: 0 auto;
    .icon{
        width: 24px;
        height: 24px;
        margin-right: 20px;
        margin-top: 10px;
    }
    .cont-warp{
        min-width: 0;
        .title{
            font-size: 30px;
            a{
                font-size: 16px;
                color: #456FC4;
                cursor: pointer;
                i{
                    width: 10px;
                    height: 10px;
                    margin-left: 4px;
                }
            }
        }
        .tips{
            margin-top: 30px;
            font-size: 14px;
            font-family: SF Pro;
            font-weight: 400;
            line-height: 21px;
            color: #909399;
        }
        .create-form-item{
            margin-top: 30px;
            .title{
                font-size: 14px;
                color: #606266;
                a{
                    font-size: 14px;
                    color: #456FC4;
                    margin-left: 10px;
                }
            }
            .cont{
                margin-top: 20px;
                .input-warp {
                    position: relative;
                    background: #fff;
                    padding: 0 14px;
                    .input-value{
                        height: 48px;
                        line-height: 48px;
                        font-size: 14px;
                        min-width: 0;
                        @extend %text-ellipsis;
                        .placeholder{
                            color: #BFC2CC;
                        }
                        input{
                            min-width: 0;
                            opacity: 1;
                            border: none;
                            outline: none;
                            padding: 0 14px;
                            box-sizing: border-box;
                            &::placeholder {
                                color: #BFC2CC
                            }
                        }
                    }
                    img{
                        width: 20px;
                        height: 20px;
                        margin-left: 10px;
                    }
                    input{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0;
                        z-index: 2;
                        opacity: 0;
                        cursor: pointer;
                    }
                }
            }
        }
        .upload-warp{
            .upload{
                width: 160px;
                height: 160px;
                border: 1px dashed #BFC2CC;
                border-radius: 6px;
                position: relative;
                .add {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    z-index: 3;
                    text-align: center;
                    .cover{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    .icon{
                        font-size: 24px;
                        height: 24px;
                        margin-right: 0;
                        margin-top: 0;
                    }
                    .close{
                        width: 100%;
                        line-height: 50px;
                        background: rgba(0,0,0,0.6);
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        color: #fff;
                        font-size: 14px;
                        z-index: 2;
                    }
                    .label{
                        margin-top: 10px;
                        font-size: 14px;
                        color: #909399;
                    }
                    input{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0;
                        opacity: 0;
                        z-index: 2;
                        cursor: pointer;
                    }
                }
            }
        }
        .input-item{
            border-radius: 6px;
            input,textarea{
                padding: 14px;
                background: #fff;
                font-size: 14px;
                box-sizing: border-box;
                width: 100%;
                border: none;
                outline: none;
                border-radius: 6px;
                &::placeholder {
                    color: #BFC2CC
                }
            }
            textarea{
                height: 144px;
            }
            .select-warp{
                background: #fff;
                font-size: 14px;
                border-radius: 6px;
                width: 100%;
                height: 48px;
                list-style: 48px;
                padding: 0 14px;
                box-sizing: border-box;
                position: relative;
                .key{
                    font-size: 14px;
                }
                .value{
                    .placeholder{
                        color: #BFC2CC;
                    }
                    i {
                        font-size: 14px;
                        color: $mainColor;
                        margin-left: 4px;
                    }
                }
                :deep(.el-select){
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    opacity: 0;
                }
            }
            
        }
        .name{
            margin-top: 40px;
        }
        .drsc,.type{
            margin-top: 20px;
        }
        .seices{
            margin-top: 30px;
        }
        .tags{
            margin-top: 20px;
            a{

            }
        }
        .btn{
            margin-top: 60px;
        }
    }
}

.nft-msg{
    .nft-msg-main{
        padding-bottom: 30px;
        border-bottom: 1px dashed #E6E8EB;
        .cover{
            margin-right: 30px;
            position: relative;
            img{
                width: 235px;
                height: 235px;
                border-radius: 12px;
                display: block;
            }
            .tag{
                position: absolute;
                display: block;
                padding: 4px 12px;
                font-size: 12px;
                border-radius: 6px;
                color: #fff;
                background: rgba(0,0,0,0.4);
                right: 0;
                bottom: 0;
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }
        .cont{
            .name{
                color: #303133;
                font-size: 18px;
                font-weight: 500;
            }
            .author{
                margin-top: 20px;
                .avatar{
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    margin-right: 10px;
                    background: #eee;
                }
                .author-msg{
                    .creater{
                        font-weight: 400;
                        line-height: 16px;
                        font-size: 14px;
                    }
                    .metaid{
                        font-size: 10px;
                        font-weight: 400;
                        line-height: 12px;
                        color: #909399;
                        margin-top: 2px;
                    }
                }
            }
            .drsc{
                margin-top: 20px;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                color: #303133;
            }
        }
    }

    .nft-msg-other{
        margin-top: 30px;
        .nft-msg-other-item{
            margin-bottom: 20px;
            &:last-child{
                margin-bottom: 0;
            }
            .key{
                font-size: 12px;
                font-weight: 400;
                line-height: 14px;
                color: #909399;
            }
            .value{
                margin-top: 5px;
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
                color: #303133;
            }
        }
    }
    .btn{
        margin-top: 30px;

    }
}

.nft-sale-set{
    margin-top: 30px;
    .msg{
        background: #fff;
        border-radius: 8px;
        overflow: hidden;
        .cover{
            width: 160px;
            height: 160px;
            border-radius: 6px;
            background: #eee;
        }
        .cont{
            padding: 15px;
            .name{
                font-size: 18px;
                font-weight: 500;
                margin-top: 0;
            }
            .msg-item{
                margin-top: 10px;
                .key{
                    color: #909399;
                    font-size: 14px;
                }
                .value{
                    .author{
                        img{
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            margin-right: 6px;
                        }
                    }
                }
            }
        }
    }
    .form-title{
        color: #606266;
        margin-top: 40px;   
    }
    .form{
        margin-top: 20px;
        .form-item{
            margin-bottom: 20px;
            &:last-child{
                margin-bottom: 20px;
            }
            .title{
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
                color: #606266;
            }
            .cont{
                border-bottom: 1px solid #EDEFF2;
                position: relative;
                padding: 0 14px;
                background: #fff;
                input{
                    font-size: 14px;
                    font-weight: 400;
                    padding: 14px 0;
                    border: none;
                    outline: none;
                }
                .type{
                    cursor: pointer;
                    margin-top: 0;
                    span{
                        color: #303133;
                        font-size: 16px;
                    }
                    .arrow{
                        height: 0;
                        width: 0;
                        border-left: 4Px solid transparent;
                        border-right: 4Px solid transparent;
                        border-top: 5Px solid $mainColor;
                        margin-left: 5Px;
                    }
                }
                .type, .icon{
                    margin-left: 15px;
                }
                .icon{
                    width: 22px;
                    height: 22px;
                }
                :deep(.el-datetime){
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                    opacity: 0;
                }
                :deep(.el-datetime .el-input__inner){
                    padding-left: 0;
                    padding-right: 0;
                    height: 100%;
                }
            }
        }
        .to-histiry{
            text-align: right;
            a{
                font-size: 14px;
                color: #909399;
            }
        }
    }

    .btn{
        margin-top: 60px;
    }
}

@media only screen and (max-width: 500px){
    .create{
        max-width: none;
        padding: 0 30px;
        .cont-warp{
            .tips{
                line-height: 30px;
            }
        }
    }
    .nft-sale-set{
        .msg{}
    }
}