@import '@/assets/styles/var.scss';
.banner{
    margin-top: -60px;
}

.home{
    margin-top: 40px;
    .section{
        margin-bottom: 90px;
        &:last-child{
            margin-bottom: 0;
        }
        .section-screen{
            
        }
        &.recommend-section{
            position: relative;
            .recommend-skeleton-list{
                position: absolute;
                width: 100%;
                left: 0;
                top: 0;
            }
            .section-cont{
                margin-top: 0;
            }
        }
    }
}


@media only screen and (max-width: 500px){
    .home{
        .section{
            margin-bottom: 60px;
            .section-screen{
                flex-direction: column-reverse;
                .search-warp{
                    width: 100%;
                }
                .tags{
                    margin-top: 15px;
                    a{
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}
