@import '@/assets/styles/var.scss';
.inner-page-header{
    .inner-page-header-left{
        .title{
            position: relative;
            font-size: 24px;
            font-weight: 500;
            img{
                width: 24px;
                height: 24px;
                position: absolute;
                left: 0;
                margin-left: -34px;
                cursor: pointer;

            }
        }
        .drsc{
            color: #909399;
            font-size: 14px;
            margin-top: 10px;
        }
    }
    .search-warp{
        
    }
}

.banner{
    margin-top: 40px;
    a{
        img{
            border-radius: 8px;
        }
    }
}

.metabot-tags{
    margin-top: 40px;
    .metabot-tag{
        cursor: pointer;
        background: #fff;
        padding: 12px 16px;
        font-size: 16px;
        margin-right: 15px;
        border-radius: 8px;
        &.active{
            background: $mainColor;
        }
        &:last-child{
            margin-right: 0;
        }
    }
}

.meta-bot-list{
    margin-top: 40px;
    .meta-bot-item{
        cursor: pointer;
        background: #fff;
        border-radius: 8px;
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 20px;
        width: calc((100% - 80px) / 5);
        &:nth-child(5n) {
            margin-right: 0;
        }
        .cover{
            width: 100%;
            height: 0;
            padding-bottom: 100%;
            position: relative;
            img{
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: contain;
                border-radius: 8px 8px 0 0;
            }
        }
        .cont{
            padding: 20px 15px;
            .name{
                font-size: 16px;
                font-weight: 500;
                @extend %text-ellipsis;
            }
            .user-list{
                margin-top: 8px;
                .user-item{
                    margin-bottom: 8px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    .avatar{
                        width: 18px;
                        height: 18px;
                        border-radius: 50%;
                        margin-right: 4px;
                    }
                    .name{
                        @extend %text-ellipsis;
                        font-size: 13px;
                        font-weight: 400;
                    }
                    .type{
                        color: #909399;
                        font-size: 13px;
                    }
                }
            }
            .btn{
                margin-top: 20px;
                display: block;
                &.btn-gray{
                    text-decoration: line-through;
                    cursor: not-allowed;
                }
            }
        }
    }
}


@media only screen and (max-width: 1100px){
    .inner-page-header{
        .inner-page-header-left{
            .title{
                position: relative;
                font-size: 24px;
                font-weight: 500;
                img{
                    position: static;
                    margin-left: 0;
                    margin-right: 10px;
                }
            }
            .drsc{
                color: #909399;
                font-size: 14px;
                margin-top: 10px;
            }
        }
    }
}
@media only screen and (max-width: 600px){
    .inner-page-header{
        flex-direction: column;
        align-items: flex-start;
    }
    .search-warp{
        margin-top: 20px;
        width: 100%;
    }
}




@media only screen and (max-width: 900px){
    .meta-bot-list{
        .meta-bot-item{
            width: calc((100% - 60px) / 4);
            &:nth-child(5n) {
                margin-right: 20px;
            }
            &:nth-child(4n) {
                margin-right: 0px;
            }
        }
    }
}

@media only screen and (max-width: 800px){
    .meta-bot-list{
        .meta-bot-item{
            width: calc((100% - 40px) / 3);
            &:nth-child(5n) {
                margin-right: 20px;
            }
            &:nth-child(4n) {
                margin-right: 20px;
            }
            &:nth-child(3n) {
                margin-right: 0px;
            }
        }
    }
}

@media only screen and (max-width: 600px){
    .meta-bot-list{
        .meta-bot-item{
            width: calc((100% - 20px) / 2);
            &:nth-child(5n) {
                margin-right: 20px;
            }
            &:nth-child(4n) {
                margin-right: 20px;
            }
            &:nth-child(3n) {
                margin-right: 20px;
            }
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }
}