.login-form {
    .types {
        padding: 16px;

        a {
            cursor: pointer;
            display: flex;
            width: 100%;
            color: #5173b9;
            padding: 16px 0;
            justify-content: center;
            align-items: center;
        }
    }
}

.btn-submit {
    width: 100%;
}

.form-tip {
    font-size: 12px;
    text-align: center;
    color: #909399;
}