.recommend{
    .recommend-header{
        img{
            width: 24px;
            height: 24px;
            left: 0;
            cursor: pointer;
        }
        .cont{
            margin-left: 15px;
        }
        .title{
            font-size: 24px;
            
        }
        .drsc{
            font-size: 14px;
            color: #909399;
            margin-top: 10px;
        }
    }
    .recomment-list{
        margin-top: 40px;
    }
}