
.self{
    .banner{
        img{
            width: 100%;
            display: block;
        }
    }
    .section{
        margin-top: 40px;
    }
    .nothing{
        text-align: center;
        color: #909399;
        font-size: 14px;
        margin-top: 75px;
    }
}