
.self{
    .banner{
        .banner-item{
            display: block;
            position: relative;
            .cover{
                width: 100%;
                display: block;
            }
            .cont{
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                bottom  : 0;
                z-index: 2;
                padding: 30px;
                display: flex;
                align-items: flex-end;
                box-sizing: border-box;
                .title{
                    font-size: 30px;
                    font-weight: 500;
                }
                .drsc{
                    color: #909399;
                    font-size: 16px;
                    margin-top: 5px;
                    margin-bottom: 20px;
                }
                .btn{
                    color: inherit;
                    text-decoration: none;
                }
            }
        }
    }
    .section{
        margin-top: 40px;
        .section-header{
            .title{ 
                img{
                    width: 24px;
                    height: 24px;
                    margin-right: 10px;
                    cursor: pointer;
                }
            }
        }
    }
    
}

@media only screen and (max-width: 750px){
    .self{
        .banner{
            .banner-item{
                .cont{
                    padding: 15px;

                    .drsc{
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}