@import '@/assets/styles/var.scss';
header{
    padding: 0 30px;
    height: 70px;
    min-height: 46px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #EDEFF2;
    position: sticky;
    left: 0;
    top: 0;
    background: $bgColor;
    z-index: 4;
    .header-left{
        .menu{
            display: none;
            width: 30px;
            cursor: pointer;
            img{
                width: 100%;
                display: block;
            }
        }
        .line{
            display: none;
        }
    }
    nav{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        text-align: center;
        a{
            cursor: pointer;
            font-family: 'SF Pro';
            font-size: 14px;
            margin-right: 30px;
            color: inherit;
            text-decoration: none;
            &.router-link-active{
                color: $mainColor;
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
    .line{
        height: 16px;
        width: 1px;
        background: #eaeaea;
        display: inline-block;
        margin: 0 18px;
    }
    .operate{
        .btn{
            padding: 4px 14px;
            position: relative;
            z-index: 2;
        }
        :deep(.el-loading-parent--relative){
            .el-loading-mask{
                .el-loading-spinner{
                    margin-top: -10px;
                    .circular{
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
        .user-info{
            cursor: pointer;
            font-size: 14px;
            img{
                width: 22Px;
                height: 22Px;
                margin-right: 6px;
                border-radius: 50%;
                background: #eee;
                outline: none;
            }
            .username {
                max-width: 120px;
                @extend %text-ellipsis;
            }
        }
        
        .lang{
            cursor: pointer;
        }
    }
}
.mobile-nav-modal{
    padding: 0 30px 30px 30px;
    display: block;
    a{
        display: block;
        line-height: 60px;
        border-radius: 8px;
        text-align: center;
        text-decoration: none;
        color: inherit;
        &.router-link-active{
            background: $mainColor;
        }
    }
}
.menu-drawer{
    min-height: 200px;
}
@media only screen and (max-width: 600px){
    header {
        .line{
            margin: 0 8px;
        }
        .username {
            display: none;
        }
        nav{
            display: none;
        }
        .header-left{
            .menu{
                display: inline-block;
            }
            .line{
                display: inline-block;
            }
        }
    }
}