@import '@/assets/styles/var.scss';
.nft-item{
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    color: inherit;
    text-decoration: none;
    .cover{
        height: 0;
        padding-bottom: 100%;
        position: relative;
        border-radius: 6px;
        overflow: hidden;
        .cover-image, svg{
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            object-fit: cover;
        }
    }
    .cont{
        padding: 15px;

        .name{
            font-size: 18px;
            font-weight: 500;
            @extend %text-ellipsis;
        }
        .price{
            margin-top: 10px;
            .label{
                font-size: 12px;
                color: #909399;
            }
            .aount{
                font-size: 14px;
                font-weight: bold;
                margin-top: 2px;
                font-family: "DIN Alternate";
            }
        }
        .author{
            margin-top: 15px;
            img{
                width: 20px;
                height: 20px;
                border-radius: 50%;
                margin-right: 10px;
                background: #fff;
            }
            .username{
                font-size: 14px;
                font-weight: 400;
            }
        }
        .operate{
            text-align: right;
            margin-top: 15px;
        }
    }
    .recommend-card{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(180deg, #FFC86E 0%, #FEB338 100%);
        padding: 40px;
        box-sizing: border-box;
        .icon{
            img{
                width: 30px;
                height: 30px;
            }
        }
        .title{
            font-size: 24px;
            font-weight: 500;
            margin-top: 30px;
        }
        .drsc{
            margin-top: 20px;
            font-size: 14px;
            line-height: 30px;
            color: #947441;
        }
        .more{
            font-size: 14px;
            text-align: right;
            a{
                color: inherit;
                text-decoration: none;
            }
            img{
                width: 10px;
                height: 10px;
            }
        }
    }
}

@media only screen and (max-width: 600px){
    .nft-item {
        .recommend-card{
            padding: 20px;
            .title{
                margin-top: 20px;
            }
        }
    }
}