@import './Entrust.scss';

.h-full {
    margin: 0 -18px;
    padding: 0 18px;
}

.information-list {
    margin-top: 30px;

    .information-item {
        margin-bottom: 50px;

        &:last-child {
            margin-bottom: 0;
        }

        .lable {
            font-weight: bold;
            font-size: 20px;
        }

        .cont {
            margin-top: 15px;
            white-space: pre-line;
            opacity: 0.8;
          
        }
    }
}