@import '@/assets/styles/var.scss';

.nft-modal {
    padding: 30px;
}

header {
    .title {
        text-align: center;
        font-size: 24px;
        font-weight: 500;
    }

    .back {
        .icon {
            transform: rotate(90deg);
        }
    }

    a {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background: #EDEFF2;
        cursor: pointer;

        .icon {
            width: 10px;
            height: 10px;

            :deep(use) {
                fill: #606266;
            }
        }

        &:hover {
            background: var(--main-font-color);

            .icon {

                :deep(use) {
                    fill: #fff;
                }
            }
        }
    }
}

.tab {
    margin-top: 30px;

    a {
        font-size: 16px;
        color: #606266;
        font-weight: 500;
        padding: 8px 12px;
        border-radius: 8px;
        border: 1px solid transparent;
        cursor: pointer;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }

        &:hover,
        &.active {
            border-color: var(--main-font-color);
            box-shadow: 3px 3px 0 var(--main-font-color);
        }

        &.active {
            background: var(--el-color-primary);
            color: var(--main-font-color);
        }

        &.disabled {
            background: #EDEFF2;
            cursor: not-allowed;
        }
    }
}

.content {
    margin-top: 30px;
    height: 60vh;
    overflow-y: auto;
}

.genesis-list {
    .genesis-item {
        border: 2px solid var(--main-font-color);
        border-radius: 12px;
        padding: 18px;
        margin-bottom: 12px;


        .top {
            .name {
                font-size: 18px;
                line-height: 26px;
            }

            a {
                padding: 8px 16px;
                cursor: pointer;

                .icon {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .author {
            margin-top: 26px;

            .msg {
                color: #606266;
                line-height: 26px;

                .avatar {
                    width: 36px;
                    height: 36px;
                    margin-right: 12px;
                }
            }

            .count {
                color: #606266;
            }
        }

        .nft-list {
            margin-top: 18px;

            .nft-item {
                display: inline-block;
                width: calc((100% - 24px) / 3);
                padding-bottom: calc((100% - 24px) / 3);
                height: 0;
                margin-right: 12px;
                position: relative;
                cursor: pointer;
                transition: all 0.5s;


                &:nth-child(3n) {
                    margin-right: 0;
                }

                .image {
                    border: 2px solid var(--main-font-color);
                    border-radius: 8px;


                }

                &:hover {
                    transform: scale3d(1.05, 1.05, 1.05)
                }
            }
        }
    }

    .genesis-nft-item {
        width: calc((100% - 24px) / 3);
        margin-right: 12px;
        margin-bottom: 12px;
        display: inline-block;
        cursor: pointer;
        overflow: hidden;

        :deep(.cover) {
            border-radius: 12px;

            .cover-image {
                transition: all 0.5s;
            }
        }

        &:nth-child(3n) {
            margin-right: 0;
        }

        .name {
            margin-top: 5px;
            @extend %text-ellipsis;
        }

        &:hover {
            :deep(.cover) {
                .cover-image {
                    transform: scale3d(1.05, 1.05, 1.05)
                }
            }
        }
    }
}