.chart-warp {
    max-height: 500PX;
    border: 2px solid #EDEFF2;
    padding: 60px;
    border-radius: 12px;
    width: 80%;
    margin: 60px auto 0 auto;

    .title {
        font-size: 20px;
        margin-bottom: 24px;
    }
}