@import '@/assets/styles/var.scss';

.el-skeleton {
    overflow: hidden;
}

.record {
    margin: -18px;



    .th {
        background: var(--themeBgSecondColor) !important;
    }



    .record-list {
        overflow-y: auto;
    }

    .record-item {
        padding: 18px;
        position: relative;

        .el-skeleton__item {
            height: 14px;
            width: 60px;
        }

        &:hover {
            background: rgba(var(--themeBgSecondColorRgb), 0.5);
        }

        .top-icon {
            position: absolute;
            color: #909399;
            width: 11px;
            height: 11px;
            left: 0;
            bottom: 0;
            margin-left: 24px;
            margin-bottom: -5px;
        }

        &:last-child {
            .top-icon {
                display: none;
            }
        }

        span {
            color: #606266;
        }

        .owner {
            .avatar {
                width: 24px;
                height: 24px;
                min-width: 24px;
                margin-right: 6px;
            }

            .name {
                @extend %text-ellipsis;
            }
        }

        .price {}

        .link {
            width: 20px;

            .el-skeleton__item {

                width: 10px;
            }

            .icon {
                width: 14px;
                height: 14px;
                color: var(--color-hover);
                margin-left: 6px;
                cursor: pointer;

                &:hover {
                    :deep(use) {
                        stroke: var(--color-hover);
                        stroke-width: 2px;
                    }
                }
            }
        }
    }
}