.avatar {
  cursor: pointer;
  position: relative;
  border-radius: calc(100% / 2.5);
  overflow: hidden;

  &.disabled {
    cursor: auto;
  }

  .image {
    width: 100%;
    height: 100%;
    border-radius: calc(100% / 2.5);

    :deep(.el-skeleton__item) {
      svg {
        width: 50%;
        height: 50%;
      }
    }
  }

  :deep(img) {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: all 0.5s;
  }

  &:hover {
    :deep(img) {
      transform: scale(1.3);
    }
  }

  // border: 1px solid var(--themeBtnTextColor);
}

.mask {
  position: absolute;
  vertical-align: middle;
  z-index: 1;
  height: 100%;
}

.avatar-img {
  vertical-align: middle;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: #fff;

  &.hasmask {

    border-radius: unset;
  }
}