// pagination
.pagination{
    text-align: center;
    .nothing{
        text-align: center;
        color: #909399;
        font-size: 14px;
        margin-top: 30px;
    }
    .more-warp{
        cursor: pointer;
        text-align: center;
        .tips{
            font-size: 16px;
        }
        .icon{
            margin-top: 10px;
            img{
                width: 12px;
                height: 12px;
            }
        }
    }
}


