.me-intro {
    line-height: 20px;
    white-space: pre-line;

    h2 {
        font-weight: 700;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    ul {
        padding-left: 15px;
        margin-top: 10px;
        list-style: disc;

        li {}
    }
}