.lang-item {
    padding: 10px var(--padding-lg);
}


.nav-item {
    padding: 15px var(--padding-lg);
}

.el-carousel {
    overflow: hidden;

    :deep(.el-carousel__arrow) {
        svg {
            path {
                stroke-width: 1rem;
                stroke: var(--themeBtnTextColor);
            }
        }
    }

    :deep(.el-carousel__button) {
        border: 3px solid var(--themeBtnTextColor) !important;
    }
}

.container {
    width: 100%;
    max-width: 1200px;
}

.home-page-wrap {
    box-sizing: border-box;
    height: auto;
    overflow: hidden;
    background: linear-gradient(0deg, #FFFBEC 0%, rgba(255, 248, 222, 0.03) 100%);
    white-space: pre-line;

    .header {
        height: 100px;
        width: 100%;
        background: var(--themeBgSecondColor);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        backdrop-filter: blur(20px);
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
        position: relative;
        z-index: 2;

        .logo-wrap {
            display: flex;
            align-items: center;
            width: 150px;
            height: 100%;
            cursor: pointer;
        }

        .option-groud {
            display: flex;
            flex-direction: row;
            align-items: center;

            .menu-groud {
                font-size: 18px;

                a {
                    cursor: pointer;
                    color: var(--themeTextColor);
                    margin-right: 60px;

                }
            }

            .dropDown-wrap {
                display: none;
            }

            @media screen and (max-width:750px) {
                .dropDown-wrap {
                    display: block;
                }

                .menu-groud {
                    display: none;
                }
            }

            .lang-wrap {
                margin-right: 60px;
            }



            .wallet-btn {
                padding: 10px var(--padding-normal);
                font-size: 16px;
                line-height: 24px;
                cursor: pointer;
                // background: var(--el-color-primary);
                // border:1px solid var(--border-color);

            }
        }

    }

    @media screen and (max-width:900px) {
        .header {

            .option-groud {
                .lang-wrap {
                    margin-right: 15px;
                    margin-left: 15px;
                }
            }
        }

    }

    .main-body-wrap {


        margin: 0 auto;

        //    padding: 0 120px;
        .page-one {
            background: linear-gradient(0deg, #FFFBEC 0%, rgba(255, 248, 222, 0.03) 100%);
            padding-bottom: 80px;
            margin-top: -100px;

            .top {
                display: flex;
                flex-direction: row;
                align-items: center;
                position: relative;

                img {
                    width: 50%;
                    height: auto;
                   
                    
                }

                .content {
                    position: absolute;
                    left: 0;
                    margin-left: 620px;
                    display: flex;
                    flex-direction: column;
                    color: var(--themeBtnTextColor);

                    .title {
                        /* prettier-ignore-start */
                        font-size: 40PX;
                        font-weight: bold;
                        line-height: 1.5;
                        white-space: pre-line;

                        @media (min-width:768PX) {
                            font-size: 54PX;
                        }

                        /* prettier-ignore-end */

                    }

                    .desc {
                        font-size: 24px;
                        line-height: 48px;
                        margin-top: 18px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        cursor: pointer;
                        &:hover{
                            opacity: .8;
                        }
                        img{
                            
                            margin-left: 5px;
                            width: 22%;
                            height: 40%;
                        }
                    }
                }


            }

            .foot-warp {
                margin: -100px auto 0 auto;
                position: relative;
                text-align: center;
            }

            .foot {
                padding: 30px;
                box-sizing: border-box;
                border: 1px solid #6A6C6F;
                border-radius: 12px;
                background: #fff;
                display: flex;
                align-items: center;
                flex-direction: column;
                display: inline-block;
                z-index: 2;

                .logo {
                    display: inline-flex;
                }

                .title {
                    font-size: 22px;
                    font-weight: 500;
                    color: var(--themeBtnTextColor);
                }

                .download-group {
                    margin-top: 23px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    cursor: pointer;

                    .item {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 16px 21px;
                        background-color: #fff !important;
                        margin-right: 15px;

                        &:last-child {
                            margin-right: 0;
                        }

                        img {
                            width: 30px;
                            height: 30px;
                        }

                        .right {
                            margin-left: 16px;
                            display: flex;
                            flex-direction: column;
                            text-align: left;

                            .sm {
                                font-size: 12px;
                            }

                            .big {
                                font-size: 18px;
                                font-weight: bold;
                            }
                        }
                    }

                }

            }

        }

        @media screen and (max-width:980px) {
            .page-one {


                .top {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 100%;
                        height: auto;

                    }

                    .content {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 70vw;
                        left: 0;
                        position: static;
                        margin-left: 0;
                        margin-top: -100px;
                        text-align: center;
                    }


                }

                .foot-warp {
                    margin-top: 30px;
                }

                .foot {
                    width: 100%;
                    display: flex;

                    .download-group {
                        flex-direction: column;
                        width: 100%;

                        .item {
                            width: 100%;
                            margin-top: 20px;
                            align-items: center;
                            margin-right: 0;

                            .big {
                                margin-left: 5px;
                            }



                            .right {
                                display: flex;
                                flex: 1;
                                flex-direction: row;
                                align-items: center;
                            }


                        }
                    }


                }
            }

        }

         @media screen and (max-width:500px){
            .page-one{
                 .top {
                    .content {
                        .desc{
                            img{
                                width: 23%;
                            }
                        }
                    }


                }
            }
         }

        .page-two {
            padding-top: 74px;
            padding-bottom: 105px;
            background: linear-gradient(180deg, #FFFBEC 0%, rgba(255, 248, 222, 0.03) 100%);
            overflow: hidden;

            .title {
                font-size: 40PX;
                font-weight: bold;
                text-align: center;
                color: var(--themeBtnTextColor);

                @media (min-width:768PX) {
                    font-size: 54PX;
                }
            }

            .drsc {
                margin-top: 30px;
                font-size: 30px;
                text-align: center;
                color: var(--themeBtnTextColor);
            }


            .content {
                margin-top: 60px;
                display: flex;
                flex-direction: row;
                align-items: center;
                color: var(--themeBtnTextColor);

                .left {
                    margin-right: 30px;
                    flex: 1;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-row-gap: 90px;
                    min-width: 0;

                    .item {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;

                        span:nth-child(1) {
                            font-size: 42px;
                            font-weight: 700;
                            background: linear-gradient(180deg, #FAC800 2%, #FF6506 100%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            background-clip: text;
                            text-fill-color: transparent;

                            .curreny {
                                font-size: 24px;
                                margin-right: 10px;
                                font-weight: normal;
                            }
                        }

                        span:nth-child(2) {
                            margin-top: 12px;
                            font-size: 20px;
                        }
                    }
                }

                .right {
                    flex: 1;
                    min-width: 0;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }

            @media screen and (max-width:500px) {
                .title {
                    text-align: center;
                }

                .content {
                    display: flex;
                    flex-direction: column;

                    .right {
                        margin-top: 50px;
                    }
                }
            }
        }

        .page-three {
            height: 100vh;
            background: linear-gradient(0deg, #FFFBEC 0%, rgba(255, 248, 222, 0.03) 100%);

            :deep(.el-carousel__indicator) {
                margin-right: 60px;
            }

            .swiper-img {
                width: 408px;
                height: 450px;
                object-fit: contain;
            }

            .swiper-right {
                margin-left: 70px;
                display: flex;
                flex-direction: column;
                color: var(--themeBtnTextColor);

                span:nth-child(1) {
                    font-size: 54px;
                    font-weight: bold;
                }

                span:nth-child(2) {
                    font-size: 18px;
                    line-height: 36px;
                    margin-top: 30px;
                }
            }

            @media screen and (max-width:900px) {

                :deep(.el-carousel__item) {
                    display: flex;
                    flex-direction: column !important;
                    align-items: center;
                    justify-content: center;

                }

                .swiper-img {

                    height: 400px;
                    object-fit: contain;
                }

                .swiper-right {
                    margin-left: 0;
                    text-align: center;
                }

                :deep(.el-carousel__indicator) {
                    display: none;
                }
            }
        }

        .page-four {
            background: linear-gradient(180deg, #FFFBEC 0%, rgba(255, 248, 222, 0.03) 100%);
            width: 100%;
            height: 100vh;
            overflow: hidden;
            position: relative;

            .bg {
                position: absolute;
                width: 381px;
                height: auto;
            }

            .bg1 {
                position: absolute;
                top: 0;
                right: 0;
                width: 917px;
                height: 900px;
            }

            :deep(.el-carousel__indicators) {
                display: none !important;
            }

            :deep(.el-carousel__item) {
                display: flex !important;
                flex-direction: column !important;
                align-items: center;
                justify-content: center;

            }

            :deep(.el-carousel__container) {
                // height: 100vh !important;
            }

            .content {
                margin-bottom: 58px;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: var(--themeBtnTextColor);

                span:nth-child(1) {
                    font-size: 54px;
                    font-weight: bold;
                }

                span:nth-child(2) {
                    font-size: 30px;
                    font-weight: 500;
                    color: #606266;
                }
            }

            @media screen and (max-width:900px) {
                .swiper-img {
                    width: 100%;
                    height: auto;
                }

                .content {
                    text-align: center;
                }

            }
        }

        .page-five {
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;

            .top {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                color: var(--themeBtnTextColor);

                span:nth-child(1) {
                    font-size: 40PX;
                    font-weight: bold;
                    margin-bottom: 10PX;
                }

                span:nth-child(2) {
                    font-size: 20PX;
                    line-height: 1.6;
                    color: #606266;

                    @media (min-width:768PX) {
                        font-size: 30PX;
                    }
                }
            }

            .foot {
                margin-top: 60px;
                display: flex;
                flex-direction: row;
                align-items: center;

                .metaso-img {
                    width: 100%;
                    object-fit: contain;
                }

                .right {
                    margin-left: 50px;
                    display: flex;
                    flex-direction: column;
                    color: var(--themeBtnTextColor);

                    span:nth-child(1) {
                        font-size: 20px;
                        line-height: 40px;
                        white-space: pre-line;
                    }

                    .operate {
                        margin-top: 40px;
                    }

                    .metaso-btn {
                        display: inline-block;
                        cursor: pointer;
                        font-size: 18px;
                        padding: 18px 24px !important;
                        border-radius: 12px !important;
                        flex-direction: row;
                        align-items: center;
                        white-space: nowrap;

                        :deep(.el-icon) {
                            display: inline-block;
                            vertical-align: middle;
                            margin-left: 5px;
                        }
                    }

                }
            }

            @media screen and (max-width:900px) {
                .foot {
                    flex-direction: column;

                    .right {
                        margin-left: 0;
                        margin-top: 50px;
                    }
                }
            }
        }

    }

    @media screen and (max-width:900px) {
        .main-body-wrap {
            max-width: 100%;

            .page-three,
            .page-four {
                height: auto;
            }

            .page-five {
                height: auto;
                padding: 80px 30px;
            }
        }

    }

    .footer {
        width: 100vw;
        height: 150px;
        background: var(--themeBgSecondColor);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .logo {
            display: inline-flex;
        }

        .left {
            width: 150px;

            img {
                width: 100%;
            }
        }

        .right {
            display: flex;
            flex-direction: row;
            align-items: center;

            .item {
                cursor: pointer;
                border-radius: 50%;
                width: 40px * 1.5;
                height: 40px * 1.5;
                display: flex;
                align-items: center;
                justify-content: center;
                background: var(--el-color-primary);
                margin-right: 30px;

                &:last-child {
                    margin-right: 0;
                }

                img {
                    width: 22px;
                    height: 22px;
                    object-fit: contain;
                }

            }

            @media only screen and (max-width: 750px) {
                .item {
                    width: 40px;
                    height: 40px;
                    margin-right: 20px;
                }
            }
        }
    }

    @media only screen and (max-width: 750px) {
        .footer {
            height: 100px;
        }
    }

}


@media screen and (max-width:750PX) {
    .el-carousel {
        :deep(.el-carousel__container) {
            .el-carousel__item {
                padding: 0 !important;
            }

        }
    }

}

@media only screen and (max-width: 1200px) {
    .container {
        padding: 0 var(--padding-normal);
    }
}