@import '@/assets/styles/var.scss';
@import '@/assets/styles/flex.scss';
@import '@/assets/styles/element-plus.scss';



html {


  body {
    // background: $bgColor;
    font-size: 16px;
    font-family: "ABC Ginto Normal", Whitney, 'SF Pro', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
      'Microsoft YaHei', '微软雅黑', Arial, sans-serif;


    color: var(--main-font-color);
    background: #F5F7FA;

    user-select: none;
    -webkit-user-drag: none;
    .nftDetailContainer{
      max-width: 1200px;
      margin: 0 auto;
      @media only screen and (max-width: 1024PX) {
        padding: 0 28px;
      }
    }
    .container {
      max-width: 800px;
      margin: 0 auto;

      @media only screen and (max-width: 1024PX) {
        padding: 0 18px;
      }
    }

    .btn {
  display: inline-block;
  padding: 8px 14px;
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  background: $mainColor;
  border: 1px solid $mainColor;
  cursor: pointer;
  overflow: hidden;

  &.btn-wechat {
    background: #5FB337;
    border-color: #5FB337;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    text-align: center;
  }

  &.btn-gray {
    background: #bfc2cc;
    border-color: #bfc2cc;
  }

  &.btn-noColor {
    background-color: #fff;
    border-color: #FFA450;
    color: #FFA450;
  }

  &.btn-black {
    background: #303133;
    border-color: #303133;
    color: #fff;
  }

  &.btn-default {
    background: #fff;
    border-color: #fff;
  }

  &.btn-change {
    background: #ffd712;
    border-color: #ffd712;
    color: #303133;
  }

  &.btn-error {
    background: #fc3e05;
    border-color: #fc3e05;
    color: #fff;
  }



  &.btn-block {
    display: block;
    width: auto;
    padding: 16px;
    font-size: 16px;
    font-weight: 500;
  }

  .icon-right {
    margin-left: 10px;
    width: 10px;
    display: inline-block;
    vertical-align: middle;
  }

  &.btn-min {
    padding: 6px 10px;
    font-size: 13px;
  }

  &.btn-plain {
    background: #fff;
    color: $mainColor;
  }
}

.btn-group {
  .btn {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;

    }
  }
}

.tab {
  text-align: center;

  a {
    display: inline-block;
    padding: 15px;
    font-size: 24px;
    font-weight: 400;
    margin-right: 90px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      position: relative;

      &::after {
        content: '';
        display: block;
        width: 16px;
        height: 4px;
        background: $mainColor;
        border-radius: 2px;
        position: absolute;
        left: 50%;
        margin-left: -5px;
        bottom: 0;
      }
    }
  }
}

    #app {
      height: 100%;
    }
    #app {}
  }

  &.dark {
    body {
      background: $bgDarkColor;
    }
  }
}



pre {
  white-space: break-spaces;
  font-family: 'SF Pro', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

.nowrap {
  white-space: nowrap;
}




.v-enter-from,
.v-leave-to {
  transition: opacity 0.5s ease;
}

.v-leave-from,
.v-enter-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}


.main-border {

  &.primary {
    background: var(--el-color-primary);
  }

  // 褪色边框
  &.faded {
    --border-color: var(--el-border-color);
    background: #EDEFF2;
  }

  &.faded-switch:not(:active, :hover):placeholder-shown {
    --border-color: var(--el-border-color);
  }

  &.small {
    --standard-offset: 2PX;
    --standard-border-width: 1PX;
  }


  // 只有下阴影的情况
  &.only-bottom {
    --right-offset: 0PX;
  }

  border: var(--standard-border-width) solid var(--border-color);
  box-shadow: var(--right-offset) var(--standard-offset) 0 var(--border-color);
  border-radius: var(--rounded);
  transition-property: all;
  transition-duration: 150ms;

  // hover时浮起（只在桌面端）
  @media (min-width: 1024PX) {
    &:not(.still):hover:not(:active) {
      box-shadow: calc(var(--right-offset) + var(--move-range)) calc(var(--standard-offset) + var(--move-range)) 0 var(--border-color);
      transform: translateX(calc(0PX - var(--move-range))) translateY(calc(0PX - var(--move-range)));
    }
  }

  // active时下沉
  &:not(.still):active {
    box-shadow: calc(var(--right-offset) - var(--move-range)) calc(var(--standard-offset) - var(--move-range)) 0 var(--border-color);
    transform: translateX(var(--move-range)) translateY(var(--move-range));
  }

  &.disabled {
    cursor: not-allowed;

    @media (min-width: 1024PX) {
      &:hover:not(:active) {
        box-shadow: var(--right-offset) var(--standard-offset) 0 var(--border-color);
        transform: none;
      }

      &:active {
        box-shadow: var(--right-offset) var(--standard-offset) 0 var(--border-color);
        transform: none;
      }
    }
  }
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

