@import '@/assets/styles/var.scss';
@import '@/assets/styles/flex.scss';
@import '@/assets/styles/element-plus.scss';

html {

  body {
    background: $bgColor;
    font-size: 16px;
    font-family: 'SF Pro', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
      'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
    min-height: 100vh;

    .container {
      max-width: 1000px;
      margin: 0 auto;
    }

    #app {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }
  }

  &.dark {
    body {
      background: $bgDarkColor;
    }
  }
}



pre {
  white-space: break-spaces;
  font-family: 'SF Pro', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

.nowrap {
  white-space: nowrap;
}




.v-enter-from,
.v-leave-to {
  transition: opacity 0.5s ease;
}

.v-leave-from,
.v-enter-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}