@import '@/assets/styles/var.scss';
@import '@/assets/styles/flex.scss';
@import '@/assets/styles/element-plus.scss';

html {

  body {
    // background: $bgColor;
    font-size: 16px;
    font-family: Whitney, 'SF Pro', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
      'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
    min-height: 100vh;

    color: var(--main-font-color);

    .container {
      max-width: 1000px;
      margin: 0 auto;
    }

    #app {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }
  }

  &.dark {
    body {
      background: $bgDarkColor;
    }
  }
}



pre {
  white-space: break-spaces;
  font-family: 'SF Pro', 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

.nowrap {
  white-space: nowrap;
}




.v-enter-from,
.v-leave-to {
  transition: opacity 0.5s ease;
}

.v-leave-from,
.v-enter-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}


.main-border {
  --border-color: #303133;

  &.faded {
    --border-color: #EBECF0;
  }

  border: 2PX solid var(--border-color);
  border-bottom: 4PX solid var(--border-color);
  border-radius: 8PX;
  margin-bottom: 2PX;
  transition-property: all;
  transition-duration: 150ms;

  &:hover {
    border-right: 4PX solid var(--border-color);
    border-bottom: 6PX solid var(--border-color);
    transform: translateX(-2PX) translateY(-2PX);
    margin-bottom: 0;
  }
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}