@import '@/assets/styles/var.scss';

.nft-msg {
    display: flex;
    .cover-warp {
        flex: 1;
        width: 120px;
        height: 120px;
        margin-right: 15px;

        :deep(.cover) {
            border-radius: 8px;
        }
    }
    .info{
        flex: 2;
    }

    .name {
        line-height: 27px;
        font-size: 18px;
        @include text-many-ellipsis(2);
    }
    .price{

    }

    .cont {
        margin-top: 4px;
    }

    .token-index {
        color: var(--themeTextColor);
        opacity: 0.5;
    }

    .price {
        // text-align: right;
        // color: #FC6D5E;
        // font-size: 24px;
        // font-weight: bold;
    }
}