.el-container{
    margin-top: 9PX !important;
    width: 70%;
    margin: 0 auto;
    .el-aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    
    
    }
     @media screen and (max-width:750PX) {
        .el-aside{
            display: none;
        }
    }
}

 @media screen and (max-width:980PX){
    .el-container{
        width: 98%;
    }
 }

.el-collapse-item__header{
    border-bottom: none;
     .el-icon {
        display: none;
    }
  
 
}
// .el-collapse-item__header.is-active{
//     color: #FC6D5E;
// }
.el-collapse-item__wrap{
      border-bottom: none;
    .el-icon {
        display: none;
    }
}

.el-collapse{
    border-color: #fff;
}


