$bgColor: #F5F7F9;
$bgDarkColor: #000;
$mainColor: #FFDC51;

%text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

$themeBgColor:var(--themeBgColor);
$themeBtnColor:#FC6D5E;
$themeBtnBorderColor:#FC6D5E;
$themeBtnTextColor:#fff;

:root {
    --color-hover: #5586BB;
    --themeBgColor: #fff;
    font-family: 'SF-Pro-Regular Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB,Microsoft YaHei', '微软雅黑', Arial, sans-serif;
    --border-color: #303133;
    --normal-border-color: #303133;
    --standard-offset: 3px;
    --standard-border-width: 2PX;
    --right-offset: 3px;
    --move-range: 2px;
    --rounded: 12px;


}

html.dark {
    --themeBgColor: #303133;
}




@mixin author($avatorWidth, $mrginRight, $nameFontSize, $metaIdFontSize, $marginTop) {
    .avatar {
        width: $avatorWidth;
        height: $avatorWidth;
        border-radius: 50%;
        margin-right: $mrginRight;
        background: #eee;
    }

    .author-msg {
        .creater {
            font-weight: 400;
            font-size: $nameFontSize;
        }

        .metaid {
            font-size: $metaIdFontSize;
            font-weight: 400;
            color: #909399;
            margin-top: $marginTop;
        }
    }
}