$bgColor: #F5F7F9;
$bgDarkColor: #000;
$mainColor: #ffdc51;

%text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

$themeBgColor:var(--themeBgColor);
$themeBgSecondColor: var(--themeBgSecondColor);
$themeBgThreeColor: var(--themeBgThreeColor);
$themeTextColor: var(--themeTextColor);


:root {
    --color-primary: #ffdc51;
    --color-hover: #5586BB;
    --themeBgColor: #fff;
    --themeBgSecondColor: #fff;
    --themeBgThreeColor: #F5F7F9;
    --themeTextColor: #303133;
    --themeBtnTextColor: #303133;
    font-family: 'SF-Pro-Regular Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB,Microsoft YaHei', '微软雅黑', Arial, sans-serif;
    --border-color: #303133;
    --faded-border-color: #BFC2CC;
    --normal-border-color: #303133;
    --standard-offset: 3PX;
    --standard-border-width: 2PX;
    --right-offset: 3PX;
    --move-range: 2PX;
    --rounded: 12PX;
    --header-height: 60PX;
    --divid-color: #F4F7F9;
    --input-height: 56px;
    --sm-conetnt-width: 600PX;
}

html.dark {
    --themeBgColor: #303133;
    --themeBgSecondColor: #374151;
    --themeBgThreeColor: #303133;
    --border-color: #d1d5db;
    --faded-border-color: #6b7280;
    --el-color-primary: #FFDC51;
    --themeTextColor: #fff;
    --primary-border-color: #6b7280;
    --divid-color: #4a576c;
}




@mixin author($avatorWidth, $mrginRight, $nameFontSize, $metaIdFontSize, $marginTop) {
    .avatar {
        width: $avatorWidth;
        height: $avatorWidth;
        border-radius: 50%;
        margin-right: $mrginRight;
        background: #eee;
    }

    .author-msg {
        .creater {
            font-weight: 400;
            font-size: $nameFontSize;
        }

        .metaid {
            font-size: $metaIdFontSize;
            font-weight: 400;
            color: #909399;
            margin-top: $marginTop;
        }
    }
}

@mixin text-many-ellipsis($lineNum) {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: $lineNum;
    -webkit-box-orient: vertical;
}

@media only screen and (max-width: 1024PX) {

    :root {
        --header-height: 70px
    }

}