.image {
    // position: relative;

    img {}

    .el-skeleton {
        position: absolute;
        width: 100%;
        height: 100%;

        .el-skeleton__image {
            width: 100%;
            height: 100%;
        }
    }
}