.login-warp {
    .btn-list {
        .el-button {
            margin-bottom: 20px;

            &+.el-button {
                margin-left: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        .btn-item {
            img {
                width: 40px;
                height: 40px;
                margin-right: 20px;
            }

            .name {
                width: 115px;
                text-align: left;
            }
        }


    }

    .no-wallet {
        margin-top: 22px;
        text-align: center;

        a {
            color: #5586BB;
            cursor: pointer;
            font-size: 18px;
        }
    }

    .terms {
        margin-top: 40px;
        color: #9C9C9C;
        text-align: center;

        a {
            color: #5586BB;
            margin: 0 5px;
            cursor: pointer;
            text-decoration: underline;
        }
    }
}


.send-first-buzz {


    .title {
        font-size: 40px;
        font-weight: normal;
        line-height: 72px;
        letter-spacing: 0px;
        text-align: center;
    }

    .drsc {
        margin-top: 10px;
        font-size: 18px;
        font-weight: normal;
        line-height: 36px;
        text-align: center;
        letter-spacing: 0px;
        text-align: center;

        /* c4 */
        color: #BFC2CC;
    }

    .image {
        margin-top: 26px;

        img {
            width: 100%;
            height: auto;
        }
    }

    .input {
        margin-top: 22px;
        padding: 0 20px;

        input {
            font-size: 16px;
            width: 100%;
            height: 60px;
            border: 2px solid var(--main-font-color);
            padding: 10px 20px;
            box-sizing: border-box;
            border-radius: 12px;
        }

        .tips {
            margin-top: 10px;
            color: #BFC2CC;
            font-size: 12px;
            line-height: 22px;
            text-align: right;
        }
    }

    .operate {
        margin-top: 18px;
        text-align: center;
    }
}



.send-buzz-success {
    text-align: center;

    .top-image {
        position: absolute;
        left: 0;
        top: 0;
        margin-top: -72px;
        width: 100%;
        height: auto;
    }

    .title {
        margin-top: 120px;

        /* 已成功在链上打招呼 */

        font-size: 36px;
        font-weight: normal;
        line-height: 48px;
        letter-spacing: 0px;

        /* c1 */
        color: #303133;
    }

    .cont {
        margin-top: 40px;

        .cont-warp {
            display: inline-block;

            .cont-item {
                .key {
                    /* TXID： */
                    font-size: 20px;
                    font-weight: normal;
                    line-height: 30px;
                    text-align: center;
                    letter-spacing: 0px;

                    /* c3 */
                    color: #909399;
                    margin-right: 10px;
                }

                .value {
                    font-size: 24px;
                    font-weight: normal;
                    line-height: 36px;
                    letter-spacing: 0px;

                    /* c1 */
                    color: var(--main-font-color);

                    a {
                        color: #5586BB;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .operate {
        margin-top: 70px;
    }
}