.set-base-user-info {
    margin-top: -30PX;

    .set-base-user-info-item {
        // background: #FFFFFF;
        border-radius: 24px;

        &:first-child {
            margin-right: 12px;
        }
    }

    .set-warp {
        .title {
            border-bottom: 1px dashed #EDEFF2;
            /* 🎉 欢迎来到SHOW！稍微完善下您的信息可以让更多的人关注到您。 */
            font-size: 16px;
            font-weight: normal;
            line-height: 30px;
            letter-spacing: 0em;
            /* c1 */
            color: var(--themeTextColor);

            padding-bottom: 30px;
            white-space: pre-line;
        }

        .info {
            margin-top: 30px;

            .info-item {
                margin-bottom: 30px;

                &:last-child {
                    margin-bottom: 0;
                }

                .key {
                    font-size: 18px;
                    margin-right: 24px;
                }

                .avatar-warp {
                    cursor: pointer;
                }

                .cont {
                    .avatar {
                        width: 110px;
                        height: 110px;
                        cursor: pointer;
                    }

                    .icon {
                        width: 18px;
                        height: 18px;
                        margin-left: 12px;
                        transform: rotate(-90deg);
                    }
                }
            }
        }

        .operate {
            margin-top: 40px;
            text-align: right;

            .main-border {
                cursor: pointer;
                padding: 16px;
                display: inline-block;
                background: var(--el-color-primary);

                .icon {
                    width: 24px;
                    height: 24px;
                }

                &.faded {
                    background: #EDEFF2;


                    :deep(.icon) {
                        use {
                            fill: var(--el-border-color);
                        }
                    }
                }
            }
        }
    }

    .choose-nft {

        .title {
            font-size: 18px;
        }

        .nft-avatar-list-warp {
            margin-top: 30px;
        }
    }
}

.avatar-uploader .avatar {
    width: 178px;
    height: 178px;
    display: block;
}

.avatar-uploader .el-upload {
    border: 1px dashed var(--el-border-color);
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: var(--el-transition-duration-fast);
}

.avatar-uploader .el-upload:hover {
    border-color: var(--el-color-primary);
}

.el-icon.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    text-align: center;
}