header {
    height: var(--header-height);
    padding: 0 18px;
    border-bottom: 1px solid var(--divid-color);

    .close {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        cursor: pointer;
        background: var(--themeTextColor);
        transition: all 0.5s;

        .icon {
            width: 14px;
            height: 14px;

            &:deep(use) {
                fill: var(--themeBgColor);
            }
        }

        &:hover {
            transform: rotate(180deg);
        }
    }
}

.list {
    .item {
        padding: 18px;
        cursor: pointer;

        &:hover {
            background: var(--el-color-primary-light-1);
        }

        .icon-warp {
            width: 36px;
            height: 36px;
            border-radius: calc(36px / 2.5);
            background: var(--themeBgThreeColor);
            margin-right: 12px;

            .icon {
                width: 20px;
                height: 20px;
            }
        }

        .name {}

        .value {
            color: #909399;
        }

        .right {
            width: 12px;
            height: 12px;
            transform: rotate(-90deg);
            margin-left: 12px;
        }

        &:hover {
            .icon-warp {
                background: var(--themeTextColor);

                .icon {
                    :deep(use) {
                        fill: var(--themeBgColor);
                    }
                }
            }
        }

        &:first-child {
            .icon-warp {
                background: transparent;
            }
        }
    }
}